MESSPROT18.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="DATAPACKET">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ROW"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="PGM_INFO"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="Version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="noNamespaceSchemaLocation" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ROW" type="RowT"/>
	<xs:element name="PGM_INFO">
		<xs:complexType>
			<xs:attribute name="FileVersion" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DatenbankAnwender" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DatenbankAnwenderDescr" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FormAnwender" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FormAnwenderDescr" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="FORM_TYP">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="P"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ID" type="T_INT"/>
	<xs:element name="ID_PROJECT" type="T_INT"/>
	<xs:element name="COPY_ID" type="T_INT"/>
	<xs:element name="MANDANT" type="T_INT"/>
	<xs:element name="ID_FORMTMP" type="T_INT"/>
	<xs:element name="I_PROJECT" type="T_INT"/>
	<xs:element name="I_FORM" type="T_INT"/>
	<xs:element name="E_PROJECT" type="T_INT"/>
	<xs:element name="INST_OUT" type="T_DATE"/>
	<xs:element name="WERK_IN" type="T_DATE"/>
	<xs:element name="WERK_OUT" type="T_DATE"/>
	<xs:element name="INST_IN" type="T_DATE"/>
	<xs:element name="PROJ_NR" type="T_STRING"/>
	<xs:element name="PROJ_JAHR" type="T_INT"/>
	<xs:element name="WERK" type="T_STRING"/>
	<xs:element name="W_EMAIL" type="T_STRING"/>
	<xs:element name="W_EF_EMAIL" type="T_STRING"/>
	<xs:element name="VISUM" type="T_STRING"/>
	<xs:element name="I_NAME1" type="T_STRING"/>
	<xs:element name="I_NAME2" type="T_STRING"/>
	<xs:element name="I_ADRESSE1" type="T_STRING"/>
	<xs:element name="I_ADRESSE2" type="T_STRING"/>
	<xs:element name="I_PLZ" type="T_STRING"/>
	<xs:element name="I_ORT" type="T_STRING"/>
	<xs:element name="I_KONZESS" type="T_STRING"/>
	<xs:element name="I_SACHB" type="T_STRING"/>
	<xs:element name="I_TELNR" type="T_STRING"/>
	<xs:element name="I_FAXNR" type="T_STRING"/>
	<xs:element name="I_EMAIL" type="T_STRING"/>
	<xs:element name="I_EF_EMAIL" type="T_STRING"/>
	<xs:element name="O_STRASSE" type="T_STRING"/>
	<xs:element name="O_HAUSNR" type="T_STRING"/>
	<xs:element name="O_PLZ" type="T_STRING"/>
	<xs:element name="O_ORT" type="T_STRING"/>
	<xs:element name="GEMEINDE" type="T_STRING"/>
	<xs:element name="PARZELLE" type="T_STRING"/>
	<xs:element name="VERSICH" type="T_STRING"/>
	<xs:element name="GEBAEUDEART" type="T_STRING"/>
	<xs:element name="GEBAEUDETEIL" type="T_STRING"/>
	<xs:element name="LAGE" type="T_STRING"/>
	<xs:element name="ANLNUTZUNG" type="T_STRING"/>
	<xs:element name="U_NAME1" type="T_STRING"/>
	<xs:element name="U_NAME2" type="T_STRING"/>
	<xs:element name="U_ADRESSE1" type="T_STRING"/>
	<xs:element name="U_ADRESSE2" type="T_STRING"/>
	<xs:element name="U_PLZ" type="T_STRING"/>
	<xs:element name="U_ORT" type="T_STRING"/>
	<xs:element name="U_TELNR" type="T_STRING"/>
	<xs:element name="U_FAXNR" type="T_STRING"/>
	<xs:element name="U_EMAIL" type="T_STRING"/>
	<xs:element name="GEBAEUDENR" type="T_STRING"/>
	<xs:element name="EGID" type="T_INT"/>
	<xs:element name="ABONR" type="T_STRING"/>
	<xs:element name="EVUAUFTNR" type="T_STRING"/>
	<xs:element name="TERMIN" type="T_DATE"/>
	<xs:element name="PACKNAME" type="T_STRING"/>
	<xs:element name="MP_NR" type="T_STRING"/>
	<xs:element name="RAPPORT_NR" type="T_STRING"/>
	<xs:element name="AN_INST" type="T_BOOL"/>
	<xs:element name="AN_KONTR" type="T_BOOL"/>
	<xs:element name="EIGENT" type="T_BOOL"/>
	<xs:element name="VERW" type="T_BOOL"/>
	<xs:element name="STROMK" type="T_BOOL"/>
	<xs:element name="INST" type="T_BOOL"/>
	<xs:element name="AG_X" type="T_BOOL"/>
	<xs:element name="AG_XTEXT" type="T_STRING"/>
	<xs:element name="GES_NAME1" type="T_STRING"/>
	<xs:element name="GES_NAME2" type="T_STRING"/>
	<xs:element name="GES_ADRESSE1" type="T_STRING"/>
	<xs:element name="GES_ADRESSE2" type="T_STRING"/>
	<xs:element name="GES_PLZ" type="T_STRING"/>
	<xs:element name="GES_ORT" type="T_STRING"/>
	<xs:element name="GES_TELNR" type="T_STRING"/>
	<xs:element name="GES_FAXNR" type="T_STRING"/>
	<xs:element name="GES_EMAIL" type="T_STRING"/>
	<xs:element name="BEMERKUNG" type="T_STRING"/>
	<xs:element name="ZEV" type="T_BOOL"/>
	<xs:element name="ZEV_TEXT" type="T_STRING"/>
	<xs:element name="ZAEHLER" type="T_STRING"/>
	<xs:element name="ANLJAHR0" type="T_INT"/>
	<xs:element name="ANL1" type="T_STRING"/>
	<xs:element name="ANLJAHR1" type="T_INT"/>
	<xs:element name="ANL2" type="T_STRING"/>
	<xs:element name="ANLJAHR2" type="T_INT"/>
	<xs:element name="MP_NEU" type="T_BOOL"/>
	<xs:element name="MP_BEST" type="T_BOOL"/>
	<xs:element name="MP_ANDERS" type="T_BOOL"/>
	<xs:element name="MP_ERWEIT" type="T_BOOL"/>
	<xs:element name="MP_X" type="T_BOOL"/>
	<xs:element name="MP_XTEXT" type="T_STRING"/>
	<xs:element name="MP_SK" type="T_BOOL"/>
	<xs:element name="MP_AK" type="T_BOOL"/>
	<xs:element name="MP_PK" type="T_BOOL"/>
	<xs:element name="MP_SP" type="T_BOOL"/>
	<xs:element name="IA_DATUM" type="T_DATE"/>
	<xs:element name="KONDATUM_SK" type="T_DATE"/>
	<xs:element name="KONDATUM_AKPKSP" type="T_DATE"/>
	<xs:element name="KONDATUM" type="T_DATE"/>
	<xs:element name="KONTUMFANG" type="T_MEMO"/>
	<xs:element name="S_1" type="T_BOOL"/>
	<xs:element name="S_2" type="T_BOOL"/>
	<xs:element name="S_3" type="T_BOOL"/>
	<xs:element name="S_4" type="T_BOOL"/>
	<xs:element name="S_5" type="T_BOOL"/>
	<xs:element name="S_6" type="T_BOOL"/>
	<xs:element name="S_7" type="T_BOOL"/>
	<xs:element name="S_8" type="T_BOOL"/>
	<xs:element name="S_9" type="T_BOOL"/>
	<xs:element name="S_18" type="T_BOOL"/>
	<xs:element name="S_18TEXT" type="T_STRING"/>
	<xs:element name="S_10" type="T_BOOL"/>
	<xs:element name="S_TNS" type="T_BOOL"/>
	<xs:element name="S_TNC" type="T_BOOL"/>
	<xs:element name="S_TNCS" type="T_BOOL"/>
	<xs:element name="S_SCH3" type="T_BOOL"/>
	<xs:element name="S_TNX" type="T_BOOL"/>
	<xs:element name="S_TNXTEXT" type="T_STRING"/>
	<xs:element name="S_12" type="T_BOOL"/>
	<xs:element name="S_FUND" type="T_BOOL"/>
	<xs:element name="S_TIEFENERDER" type="T_BOOL"/>
	<xs:element name="S_BANDERDER" type="T_BOOL"/>
	<xs:element name="S_ERDX" type="T_BOOL"/>
	<xs:element name="S_ERDXTEXT" type="T_STRING"/>
	<xs:element name="S_11" type="T_BOOL"/>
	<xs:element name="S_13" type="T_BOOL"/>
	<xs:element name="S_14" type="T_BOOL"/>
	<xs:element name="S_15" type="T_BOOL"/>
	<xs:element name="S_16" type="T_BOOL"/>
	<xs:element name="S_17" type="T_BOOL"/>
	<xs:element name="F_1" type="T_BOOL"/>
	<xs:element name="F_2" type="T_BOOL"/>
	<xs:element name="F_3" type="T_BOOL"/>
	<xs:element name="F_4" type="T_BOOL"/>
	<xs:element name="F_5N" type="T_BOOL"/>
	<xs:element name="F_6" type="T_BOOL"/>
	<xs:element name="F_6TEXT" type="T_STRING"/>
	<xs:element name="F_SPANNUNG" type="T_STRING"/>
	<xs:element name="F_BEM" type="T_STRING"/>
	<xs:element name="N_MESSNORM" type="T_STRING"/>
	<xs:element name="N_MESS1" type="T_STRING"/>
	<xs:element name="N_MESS2" type="T_STRING"/>
	<xs:element name="N_MESS3" type="T_STRING"/>
	<xs:element name="N_NORM1" type="T_BOOL"/>
	<xs:element name="N_NORM1TEXT" type="T_STRING"/>
	<xs:element name="N_NORM2" type="T_BOOL"/>
	<xs:element name="N_NORM2TEXT" type="T_STRING"/>
	<xs:element name="N_NORM3" type="T_BOOL"/>
	<xs:element name="N_NORM3TEXT" type="T_STRING"/>
	<xs:element name="N_NORM4" type="T_BOOL"/>
	<xs:element name="N_NORM4TEXT" type="T_STRING"/>
	<xs:element name="N_NORM5" type="T_BOOL"/>
	<xs:element name="N_NORM5TEXT" type="T_STRING"/>
	<xs:element name="N_NORM6" type="T_BOOL"/>
	<xs:element name="N_NORM6TEXT" type="T_STRING"/>
	<xs:element name="N_NORM7" type="T_BOOL"/>
	<xs:element name="N_NORM7TEXT" type="T_STRING"/>
	<xs:element name="N_NORM8" type="T_BOOL"/>
	<xs:element name="N_NORM8TEXT" type="T_STRING"/>
	<xs:element name="SKLISTE_BEMTITEL" type="T_STRING"/>
	<xs:element name="SK_ASBEST0" type="T_BOOL"/>
	<xs:element name="SK_ASBEST1" type="T_BOOL"/>
	<xs:element name="SK_1" type="T_BOOL"/>
	<xs:element name="SK_1NORM" type="T_STRING"/>
	<xs:element name="SK_2" type="T_BOOL"/>
	<xs:element name="SK_3" type="T_BOOL"/>
	<xs:element name="DOKU" type="T_BOOL"/>
	<xs:element name="SCHEMA" type="T_BOOL"/>
	<xs:element name="ZUSATZ1" type="T_BOOL"/>
	<xs:element name="ZUSTXT1" type="T_STRING"/>
	<xs:element name="OHNEMANGEL" type="T_BOOL"/>
	<xs:element name="MANGELTEXT" type="T_STRING"/>
	<xs:element name="GGZ_NAME1" type="T_STRING"/>
	<xs:element name="GGZ_NAME2" type="T_STRING"/>
	<xs:element name="GGZ_ADRESSE1" type="T_STRING"/>
	<xs:element name="GGZ_ADRESSE2" type="T_STRING"/>
	<xs:element name="GGZ_PLZ" type="T_STRING"/>
	<xs:element name="GGZ_ORT" type="T_STRING"/>
	<xs:element name="GGZ_KONZESS" type="T_STRING"/>
	<xs:element name="GGZ_TELNR" type="T_STRING"/>
	<xs:element name="GGZ_EMAIL" type="T_STRING"/>
	<xs:element name="GGZ_DATUM" type="T_DATE"/>
	<xs:element name="GGZ_GRUND" type="T_STRING"/>
	<xs:element name="GGZ_SIGN" type="T_STRING"/>
	<xs:element name="GGZ_SIKT" type="T_STRING"/>
	<xs:element name="SIGN_DATUM" type="T_DATE"/>
	<xs:element name="KONTR_SIGN" type="T_STRING"/>
	<xs:element name="KONTR_SIKT" type="T_STRING"/>
	<xs:element name="SKListeMESSPROT18_DE"/>
	<xs:element name="SKListeMESSPROT18_FR"/>
	<xs:element name="SKListeMESSPROT18_IT"/>
	<xs:complexType name="T_MEMO">
		<xs:simpleContent>
			<xs:extension base="ST_STRING">
				<xs:attribute name="OLD" type="ST_STRING" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_STRING">
		<xs:simpleContent>
			<xs:extension base="ST_STRING">
				<xs:attribute name="OLD" type="ST_STRING" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ST_STRING">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="T_INT">
		<xs:simpleContent>
			<xs:extension base="ST_INT">
				<xs:attribute name="OLD" type="ST_INT" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ST_INT">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_BOOL">
		<xs:simpleContent>
			<xs:extension base="ST_BOOL">
				<xs:attribute name="OLD" type="ST_BOOL" use="optional"/>
				<xs:attribute name="Type" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="B"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ST_BOOL">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
			<xs:enumeration value="TRUE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_DATE">
		<xs:simpleContent>
			<xs:extension base="ST_DATE">
				<xs:attribute name="OLD" type="ST_DATE" use="optional"/>
				<xs:attribute name="Type" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="DT"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ST_DATE">
		<xs:restriction base="xs:string">
			<xs:pattern value=""/>
			<xs:pattern value="[0-9]{4}[0-9]{2}[0-9]{2}[0-9]{9}"/><!--Datums-Format: YYYYMMTThhmmssmmm--></xs:restriction></xs:simpleType><xs:complexType name="RowT">
		<xs:all>
			<xs:element ref="FORM_TYP"/>
			<xs:element ref="ID"/>
			<xs:element ref="ID_PROJECT"/>
			<xs:element ref="COPY_ID"/>
			<xs:element ref="MANDANT"/>
			<xs:element ref="ID_FORMTMP"/>
			<xs:element ref="I_PROJECT"/>
			<xs:element ref="I_FORM"/>
			<xs:element ref="E_PROJECT"/>
			<xs:element ref="INST_OUT"/>
			<xs:element ref="WERK_IN"/>
			<xs:element ref="WERK_OUT"/>
			<xs:element ref="INST_IN"/>
			<xs:element ref="PROJ_NR"/>
			<xs:element ref="PROJ_JAHR"/>
			<xs:element ref="WERK"/>
			<xs:element ref="W_EMAIL"/>
			<xs:element ref="W_EF_EMAIL"/>
			<xs:element ref="VISUM"/>
			<xs:element ref="I_NAME1"/>
			<xs:element ref="I_NAME2"/>
			<xs:element ref="I_ADRESSE1"/>
			<xs:element ref="I_ADRESSE2"/>
			<xs:element ref="I_PLZ"/>
			<xs:element ref="I_ORT"/>
			<xs:element ref="I_KONZESS"/>
			<xs:element ref="I_SACHB"/>
			<xs:element ref="I_TELNR"/>
			<xs:element ref="I_FAXNR"/>
			<xs:element ref="I_EMAIL"/>
			<xs:element ref="I_EF_EMAIL"/>
			<xs:element ref="O_STRASSE"/>
			<xs:element ref="O_HAUSNR"/>
			<xs:element ref="O_PLZ"/>
			<xs:element ref="O_ORT"/>
			<xs:element ref="GEMEINDE"/>
			<xs:element ref="PARZELLE"/>
			<xs:element ref="VERSICH"/>
			<xs:element ref="GEBAEUDEART"/>
			<xs:element ref="GEBAEUDETEIL"/>
			<xs:element ref="LAGE"/>
			<xs:element ref="ANLNUTZUNG"/>
			<xs:element ref="U_NAME1"/>
			<xs:element ref="U_NAME2"/>
			<xs:element ref="U_ADRESSE1"/>
			<xs:element ref="U_ADRESSE2"/>
			<xs:element ref="U_PLZ"/>
			<xs:element ref="U_ORT"/>
			<xs:element ref="U_TELNR"/>
			<xs:element ref="U_FAXNR"/>
			<xs:element ref="U_EMAIL"/>
			<xs:element ref="GEBAEUDENR"/>
			<xs:element ref="EGID"/>
			<xs:element ref="ABONR"/>
			<xs:element ref="EVUAUFTNR"/>
			<xs:element ref="TERMIN"/>
			<xs:element ref="PACKNAME"/>
			<xs:element ref="MP_NR"/>
			<xs:element ref="RAPPORT_NR"/>
			<xs:element ref="AN_INST"/>
			<xs:element ref="AN_KONTR"/>
			<xs:element ref="EIGENT"/>
			<xs:element ref="VERW"/>
			<xs:element ref="STROMK"/>
			<xs:element ref="INST"/>
			<xs:element ref="AG_X"/>
			<xs:element ref="AG_XTEXT"/>
			<xs:element ref="GES_NAME1"/>
			<xs:element ref="GES_NAME2"/>
			<xs:element ref="GES_ADRESSE1"/>
			<xs:element ref="GES_ADRESSE2"/>
			<xs:element ref="GES_PLZ"/>
			<xs:element ref="GES_ORT"/>
			<xs:element ref="GES_TELNR"/>
			<xs:element ref="GES_FAXNR"/>
			<xs:element ref="GES_EMAIL"/>
			<xs:element ref="BEMERKUNG"/>
			<xs:element ref="ZEV"/>
			<xs:element ref="ZEV_TEXT"/>
			<xs:element ref="ZAEHLER"/>
			<xs:element ref="ANLJAHR0"/>
			<xs:element ref="ANL1"/>
			<xs:element ref="ANLJAHR1"/>
			<xs:element ref="ANL2"/>
			<xs:element ref="ANLJAHR2"/>
			<xs:element ref="MP_NEU"/>
			<xs:element ref="MP_BEST"/>
			<xs:element ref="MP_ANDERS"/>
			<xs:element ref="MP_ERWEIT"/>
			<xs:element ref="MP_X"/>
			<xs:element ref="MP_XTEXT"/>
			<xs:element ref="MP_SK"/>
			<xs:element ref="MP_AK"/>
			<xs:element ref="MP_PK"/>
			<xs:element ref="MP_SP"/>
			<xs:element ref="IA_DATUM"/>
			<xs:element ref="KONDATUM_SK"/>
			<xs:element ref="KONDATUM_AKPKSP"/>
			<xs:element ref="KONDATUM"/>
			<xs:element ref="KONTUMFANG"/>
			<xs:element ref="S_1"/>
			<xs:element ref="S_2"/>
			<xs:element ref="S_3"/>
			<xs:element ref="S_4"/>
			<xs:element ref="S_5"/>
			<xs:element ref="S_6"/>
			<xs:element ref="S_7"/>
			<xs:element ref="S_8"/>
			<xs:element ref="S_9"/>
			<xs:element ref="S_18"/>
			<xs:element ref="S_18TEXT"/>
			<xs:element ref="S_10"/>
			<xs:element ref="S_TNS"/>
			<xs:element ref="S_TNC"/>
			<xs:element ref="S_TNCS"/>
			<xs:element ref="S_SCH3"/>
			<xs:element ref="S_TNX"/>
			<xs:element ref="S_TNXTEXT"/>
			<xs:element ref="S_12"/>
			<xs:element ref="S_FUND"/>
			<xs:element ref="S_TIEFENERDER"/>
			<xs:element ref="S_BANDERDER"/>
			<xs:element ref="S_ERDX"/>
			<xs:element ref="S_ERDXTEXT"/>
			<xs:element ref="S_11"/>
			<xs:element ref="S_13"/>
			<xs:element ref="S_14"/>
			<xs:element ref="S_15"/>
			<xs:element ref="S_16"/>
			<xs:element ref="S_17"/>
			<xs:element ref="F_1"/>
			<xs:element ref="F_2"/>
			<xs:element ref="F_3"/>
			<xs:element ref="F_4"/>
			<xs:element ref="F_5N"/>
			<xs:element ref="F_6"/>
			<xs:element ref="F_6TEXT"/>
			<xs:element ref="F_SPANNUNG"/>
			<xs:element ref="F_BEM"/>
			<xs:element ref="N_MESSNORM"/>
			<xs:element ref="N_MESS1"/>
			<xs:element ref="N_MESS2"/>
			<xs:element ref="N_MESS3"/>
			<xs:element ref="N_NORM1"/>
			<xs:element ref="N_NORM1TEXT"/>
			<xs:element ref="N_NORM2"/>
			<xs:element ref="N_NORM2TEXT"/>
			<xs:element ref="N_NORM3"/>
			<xs:element ref="N_NORM3TEXT"/>
			<xs:element ref="N_NORM4"/>
			<xs:element ref="N_NORM4TEXT"/>
			<xs:element ref="N_NORM5"/>
			<xs:element ref="N_NORM5TEXT"/>
			<xs:element ref="N_NORM6"/>
			<xs:element ref="N_NORM6TEXT"/>
			<xs:element ref="N_NORM7"/>
			<xs:element ref="N_NORM7TEXT"/>
			<xs:element ref="N_NORM8"/>
			<xs:element ref="N_NORM8TEXT"/>
			<xs:element ref="SKLISTE_BEMTITEL"/>
			<xs:element ref="SK_ASBEST0"/>
			<xs:element ref="SK_ASBEST1"/>
			<xs:element ref="SK_1"/>
			<xs:element ref="SK_1NORM"/>
			<xs:element ref="SK_2"/>
			<xs:element ref="SK_3"/>
			<xs:element ref="DOKU"/>
			<xs:element ref="SCHEMA"/>
			<xs:element ref="ZUSATZ1"/>
			<xs:element ref="ZUSTXT1"/>
			<xs:element ref="OHNEMANGEL"/>
			<xs:element ref="MANGELTEXT"/>
			<xs:element ref="GGZ_NAME1"/>
			<xs:element ref="GGZ_NAME2"/>
			<xs:element ref="GGZ_ADRESSE1"/>
			<xs:element ref="GGZ_ADRESSE2"/>
			<xs:element ref="GGZ_PLZ"/>
			<xs:element ref="GGZ_ORT"/>
			<xs:element ref="GGZ_KONZESS"/>
			<xs:element ref="GGZ_TELNR"/>
			<xs:element ref="GGZ_EMAIL"/>
			<xs:element ref="GGZ_DATUM"/>
			<xs:element ref="GGZ_GRUND"/>
			<xs:element ref="GGZ_SIGN"/>
			<xs:element ref="GGZ_SIKT"/>
			<xs:element ref="SIGN_DATUM"/>
			<xs:element ref="KONTR_SIGN"/>
			<xs:element ref="KONTR_SIKT"/>
			<xs:element ref="SKListeMESSPROT18_DE" minOccurs="0"/>
			<xs:element ref="SKListeMESSPROT18_FR" minOccurs="0"/>
			<xs:element ref="SKListeMESSPROT18_IT" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
</xs:schema>