MPP-Small.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="DATAPACKET">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ROW" type="T_Row"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="PGM_INFO"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="Version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="noNamespaceSchemaLocation" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PGM_INFO">
		<xs:complexType>
			<xs:attribute name="FileVersion" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DatenbankAnwender" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DatenbankAnwenderDescr" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FormAnwender" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FormAnwenderDescr" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="FORM_TYP">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="P"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ID" type="T_INT"/>
	<xs:element name="ID_PROJECT" type="T_INT"/>
	<xs:element name="ID_FORMTMP" type="T_INT"/>
	<xs:element name="I_PROJECT" type="T_INT"/>
	<xs:element name="I_FORM" type="T_INT"/>
	<xs:element name="INST_OUT" type="T_DATE"/>
	<xs:element name="WERK_IN" type="T_DATE"/>
	<xs:element name="WERK_OUT" type="T_DATE"/>
	<xs:element name="INST_IN" type="T_DATE"/>
	<xs:element name="PROJ_NR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="12"/>
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROJ_JAHR" type="T_INT"/>
	<xs:element name="WERK">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="24"/>
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="VISUM">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="6"/>
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_NAME1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_NAME2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_ADRESSE1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_ADRESSE2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_PLZ">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="8"/>
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_ORT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_KONZESS">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_SACHB">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="24"/>
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_TELNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_EMAIL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="60"/>
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="O_STRASSE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="O_HAUSNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="24"/>
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="O_PLZ">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="8"/>
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="O_ORT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EGID" type="T_INT"/>
	<xs:element name="EVUAUFTNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="12"/>
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="TERMIN" type="T_DATE"/>
	<xs:element name="PACKNAME">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="KONDATUM" type="T_DATE"/>
	<xs:element name="KONTUMFANG" type="T_MEMO"/>
	<xs:element name="N_MESSNORM">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="14"/>
					<xs:pattern value=".*"/>
					<xs:pattern value="IEC 61010" xml:lang="de"/>
					<xs:pattern value="SN EN 61557" xml:lang="de"/>
					<xs:pattern value="IEC 61010" xml:lang="fr"/>
					<xs:pattern value="SN EN 61557" xml:lang="fr"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_NORM1" type="T_BOOL"/>
	<xs:element name="N_NORM1TEXT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="24"/>
					<xs:pattern value=".*"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SKListe" type="T_SKListe"/>
	<xs:element name="SKListeMESSPROT18_DE" substitutionGroup="SKListe" type="T_SKListe"/>
	<xs:element name="SKListeMESSPROT18_FR" substitutionGroup="SKListe" type="T_SKListe"/>
	<xs:element name="SKListeMESSPROT18_IT" substitutionGroup="SKListe" type="T_SKListe"/>
	<xs:complexType name="T_MEMO">
		<xs:simpleContent>
			<xs:extension base="ST_STRING">
				<xs:attribute name="OLD" type="ST_STRING" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_STRING">
		<xs:simpleContent>
			<xs:extension base="ST_STRING">
				<xs:attribute name="OLD" type="ST_STRING" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ST_STRING">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="T_INT">
		<xs:simpleContent>
			<xs:extension base="ST_INT">
				<xs:attribute name="OLD" type="ST_INT" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ST_INT">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_BOOL">
		<xs:simpleContent>
			<xs:extension base="ST_BOOL">
				<xs:attribute name="OLD" type="ST_BOOL" use="optional"/>
				<xs:attribute name="Type" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="B"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ST_BOOL">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
			<xs:enumeration value="TRUE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_DATE">
		<xs:simpleContent>
			<xs:extension base="ST_DATE">
				<xs:attribute name="OLD" type="ST_DATE" use="optional"/>
				<xs:attribute name="Type" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="DT"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ST_DATE">
		<xs:restriction base="xs:string">
			<xs:pattern value=""/>
			<xs:pattern value="[0-9]{4}[0-9]{2}[0-9]{2}[0-9]{9}"/><!--Datums-Format: YYYYMMTThhmmssmmm--></xs:restriction></xs:simpleType><xs:complexType name="T_Row">
		<xs:all>
			<xs:element ref="FORM_TYP"/>
			<xs:element ref="ID"/>
			<xs:element ref="ID_PROJECT"/>
			<xs:element ref="ID_FORMTMP"/>
			<xs:element ref="I_PROJECT"/>
			<xs:element ref="I_FORM"/>
			<xs:element ref="INST_OUT"/>
			<xs:element ref="WERK_IN"/>
			<xs:element ref="WERK_OUT"/>
			<xs:element ref="INST_IN"/>
			<xs:element ref="PROJ_NR"/>
			<xs:element ref="PROJ_JAHR"/>
			<xs:element ref="WERK"/>
			<xs:element ref="VISUM"/>
			<xs:element ref="I_NAME1"/>
			<xs:element ref="I_NAME2"/>
			<xs:element ref="I_ADRESSE1"/>
			<xs:element ref="I_ADRESSE2"/>
			<xs:element ref="I_PLZ"/>
			<xs:element ref="I_ORT"/>
			<xs:element ref="I_KONZESS"/>
			<xs:element ref="I_SACHB"/>
			<xs:element ref="I_TELNR"/>
			<xs:element ref="I_EMAIL"/>
			<xs:element ref="O_STRASSE"/>
			<xs:element ref="O_HAUSNR"/>
			<xs:element ref="O_PLZ"/>
			<xs:element ref="O_ORT"/>
			<xs:element ref="EGID"/>
			<xs:element ref="EVUAUFTNR"/>
			<xs:element ref="TERMIN"/>
			<xs:element ref="PACKNAME"/>
			<xs:element ref="KONDATUM"/>
			<xs:element ref="KONTUMFANG"/>
			<xs:element ref="N_MESSNORM"/>
			<xs:element ref="N_NORM1"/>
			<xs:element ref="N_NORM1TEXT"/>
			<xs:element ref="SKListeMESSPROT18_DE"/>
			<xs:element ref="SKListeMESSPROT18_FR"/>
			<xs:element ref="SKListeMESSPROT18_IT"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="T_SKListe">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ROW">
				<xs:complexType>
					<xs:all>
						<xs:element name="ID" type="T_INT"/>
						<xs:element name="FORM_ID" type="T_INT"/>
						<xs:element name="SEQ_FORM" type="T_INT"/>
						<xs:element name="BEZ">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="120"/>
										<xs:pattern value=".*"/>
										<xs:pattern value="HAK" xml:lang="de"/>
										<xs:pattern value="Licht EG" xml:lang="de"/>
										<xs:pattern value="Licht 1.OG" xml:lang="de"/>
										<xs:pattern value="Küche" xml:lang="de"/>
										<xs:pattern value="Geschirrspüler" xml:lang="de"/>
										<xs:pattern value="Kochherd" xml:lang="de"/>
										<xs:pattern value="Steamer" xml:lang="de"/>
										<xs:pattern value="Keller" xml:lang="de"/>
										<xs:pattern value="Boiler (300l)" xml:lang="de"/>
										<xs:pattern value="Heizung" xml:lang="de"/>
										<xs:pattern value="Waschmaschine" xml:lang="de"/>
										<xs:pattern value="Garage" xml:lang="de"/>
										<xs:pattern value="UG" xml:lang="de"/>
										<xs:pattern value="SGK" xml:lang="de"/>
										<xs:pattern value="Aussenbeleuchtung" xml:lang="de"/>
										<xs:pattern value="Mansarde" xml:lang="de"/>
										<xs:pattern value="Coffret d'introduction" xml:lang="fr"/>
										<xs:pattern value="Lumière REZ" xml:lang="fr"/>
										<xs:pattern value="Lumière 1er étage" xml:lang="fr"/>
										<xs:pattern value="Cuisine" xml:lang="fr"/>
										<xs:pattern value="Lave-vaisselle" xml:lang="fr"/>
										<xs:pattern value="Cuisinière" xml:lang="fr"/>
										<xs:pattern value="Steamer" xml:lang="fr"/>
										<xs:pattern value="Cave" xml:lang="fr"/>
										<xs:pattern value="Chauffe-eau" xml:lang="fr"/>
										<xs:pattern value="Chauffage" xml:lang="fr"/>
										<xs:pattern value="Machine à laver" xml:lang="fr"/>
										<xs:pattern value="Garage" xml:lang="fr"/>
										<xs:pattern value="Tableau d'étage" xml:lang="fr"/>
										<xs:pattern value="Ensemble d'appareillage" xml:lang="fr"/>
										<xs:pattern value="Eclairage extérieur" xml:lang="fr"/>
										<xs:pattern value="Mansarde" xml:lang="fr"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="M_IKMAX">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="M_IKMIN">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="8"/>
										<xs:pattern value=".*"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="M_IKMAX_LN">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="M_IKMIN_LN">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="M_RISO">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="M_LEIT">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>