MPP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) by srdev (hellsoft1) -->
<!-- W3C Schema generated by XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="DATAPACKET">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ROW"/>
				<xs:element ref="PGM_INFO"/>
			</xs:sequence>
			<xs:attribute name="Version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ROW" type="RowT"/>
	<xs:element name="PGM_INFO">
		<xs:complexType>
			<xs:attribute name="FileVersion" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="9.0.24.10060"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DatenbankAnwender" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DatenbankAnwenderDescr" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ElektroForm Installateur"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FormAnwender" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FormAnwenderDescr" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Installateur"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ABONR">
		<xs:complexType/>
	</xs:element>
	<xs:element name="AG_X">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_AG_X">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AG_XTEXT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ANL1">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ANL2">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ANLJAHR0">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_ANLJAHR0">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
								<xs:enumeration value="20"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ANLJAHR1">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ANLJAHR2">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ANLNUTZUNG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_ANLNUTZUNG">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Gewerbe"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AN_INST">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_AN_INST">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AN_KONTR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_AN_KONTR">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="TRUE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="BEMERKUNG">
		<xs:complexType/>
	</xs:element>
	<xs:element name="COPY_ID">
		<xs:complexType/>
	</xs:element>
	<xs:element name="DOKU">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_DOKU">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EGID">
		<xs:complexType/>
	</xs:element>
	<xs:element name="EIGENT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_EIGENT">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="TRUE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EVUAUFTNR">
		<xs:complexType/>
	</xs:element>
	<xs:element name="E_PROJECT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="FORM_TYP">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="P"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="F_1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_F_1">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_F_2">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_3">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_F_3">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_4">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_F_4">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_5N">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_F_5N">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_6">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_F_6">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_6TEXT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="F_BEM">
		<xs:complexType/>
	</xs:element>
	<xs:element name="F_SPANNUNG">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GEBAEUDEART">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_GEBAEUDEART">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Wohn- + Geschäftshaus"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GEBAEUDENR">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GEBAEUDETEIL">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GEMEINDE">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GES_ADRESSE1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_GES_ADRESSE1">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Hauptallee 186"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_ADRESSE2">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GES_EMAIL">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GES_FAXNR">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GES_NAME1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_GES_NAME1">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Graf Hoch und Schiefbau AG"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_NAME2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_GES_NAME2">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Theo Graf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_ORT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_GES_ORT">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Neustadt"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_PLZ">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_GES_PLZ">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:short">
								<xs:enumeration value="6560"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_TELNR">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GGZ_ADRESSE1">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GGZ_ADRESSE2">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GGZ_DATUM">
		<xs:complexType>
			<xs:attribute name="Type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="GGZ_EMAIL">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GGZ_GRUND">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GGZ_KONZESS">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GGZ_NAME1">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GGZ_NAME2">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GGZ_ORT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GGZ_PLZ">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GGZ_SIGN">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GGZ_SIKT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="GGZ_TELNR">
		<xs:complexType/>
	</xs:element>
	<xs:element name="IA_DATUM">
		<xs:complexType>
			<xs:attribute name="Type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ID">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_ID">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
								<xs:enumeration value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ID_FORMTMP">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_ID_FORMTMP">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:short">
								<xs:enumeration value="2153"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ID_PROJECT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="INST">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_INST">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="INST_IN">
		<xs:complexType>
			<xs:attribute name="Type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="INST_OUT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_INST_OUT">
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="DT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_ADRESSE1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_I_ADRESSE1">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Birkenweg 23"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_ADRESSE2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_I_ADRESSE2">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Postfach 84"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_EF_EMAIL">
		<xs:complexType/>
	</xs:element>
	<xs:element name="I_EMAIL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_I_EMAIL">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="resi@brunnerinformatik.ch"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_FAXNR">
		<xs:complexType/>
	</xs:element>
	<xs:element name="I_FORM">
		<xs:complexType/>
	</xs:element>
	<xs:element name="I_KONZESS">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_I_KONZESS">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="K-0101"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_NAME1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_I_NAME1">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="SaveControl GmbH"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_NAME2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_I_NAME2">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Installationskontrolle"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_ORT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_I_ORT">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Neustadt"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_PLZ">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_I_PLZ">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:short">
								<xs:enumeration value="6560"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_PROJECT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="I_SACHB">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_I_SACHB">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Simon Reber"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_TELNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_I_TELNR">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="031 917 00 43"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="KONDATUM">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_KONDATUM">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:long">
								<xs:enumeration value="20200110000000000"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="DT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="KONDATUM_AKPKSP">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_KONDATUM_AKPKSP">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:long">
								<xs:enumeration value="20200110000000000"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="DT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="KONDATUM_SK">
		<xs:complexType>
			<xs:attribute name="Type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="KONTR_SIGN">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_KONTR_SIGN">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="OwRsq1LZ8zn"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="KONTR_SIKT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_KONTR_SIKT">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Simon Reber"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="KONTUMFANG">
		<xs:complexType/>
	</xs:element>
	<xs:element name="LAGE">
		<xs:complexType/>
	</xs:element>
	<xs:element name="MANDANT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="MANGELTEXT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="MP_AK">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_MP_AK">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MP_ANDERS">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_MP_ANDERS">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MP_BEST">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_MP_BEST">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="TRUE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MP_ERWEIT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_MP_ERWEIT">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MP_NEU">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_MP_NEU">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MP_NR">
		<xs:complexType/>
	</xs:element>
	<xs:element name="MP_PK">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_MP_PK">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="TRUE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MP_SK">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_MP_SK">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MP_SP">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_MP_SP">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MP_X">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_MP_X">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MP_XTEXT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="N_MESS1">
		<xs:complexType/>
	</xs:element>
	<xs:element name="N_MESS2">
		<xs:complexType/>
	</xs:element>
	<xs:element name="N_MESS3">
		<xs:complexType/>
	</xs:element>
	<xs:element name="N_MESSNORM">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_N_MESSNORM">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="SN EN 61557"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_NORM1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_N_NORM1">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_NORM1TEXT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_N_NORM1TEXT">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="NIV"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_NORM2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_N_NORM2">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_NORM2TEXT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_N_NORM2TEXT">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="NIN SN 411000:2015"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_NORM3">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_N_NORM3">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_NORM3TEXT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_N_NORM3TEXT">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="HV"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_NORM4">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_N_NORM4">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_NORM4TEXT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_N_NORM4TEXT">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="SN EN 60204"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_NORM5">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_N_NORM5">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_NORM5TEXT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_N_NORM5TEXT">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Werkvorschriften (TAB)"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_NORM6">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_N_NORM6">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_NORM6TEXT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_N_NORM6TEXT">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="D-A-CH-CZ"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_NORM7">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_N_NORM7">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_NORM7TEXT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_N_NORM7TEXT">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="SNR 464022"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_NORM8">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_N_NORM8">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_NORM8TEXT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_N_NORM8TEXT">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="SNR 464113"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="OHNEMANGEL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_OHNEMANGEL">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="O_HAUSNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_O_HAUSNR">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
								<xs:enumeration value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="O_ORT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_O_ORT">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Grosswil"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="O_PLZ">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_O_PLZ">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:short">
								<xs:enumeration value="7777"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="O_STRASSE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_O_STRASSE">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Gewerbepark"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PACKNAME">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_PACKNAME">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="ewid.evu"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PARZELLE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_PARZELLE">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="7777-01"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROJ_JAHR">
		<xs:complexType/>
	</xs:element>
	<xs:element name="PROJ_NR">
		<xs:complexType/>
	</xs:element>
	<xs:element name="RAPPORT_NR">
		<xs:complexType/>
	</xs:element>
	<xs:element name="SCHEMA">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_SCHEMA">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SIGN_DATUM">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_SIGN_DATUM">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:long">
								<xs:enumeration value="20200324000000000"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="DT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SKLISTE_BEMTITEL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_SKLISTE_BEMTITEL">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Bemerkungen"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SKListeMESSPROT18_DE">
		<xs:complexType/>
	</xs:element>
	<xs:element name="SK_1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_SK_1">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SK_1NORM">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_SK_1NORM">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="EN 61439"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SK_2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_SK_2">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SK_3">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_SK_3">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SK_ASBEST0">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_SK_ASBEST0">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SK_ASBEST1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_SK_ASBEST1">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="STROMK">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_STROMK">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_1">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_10">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_10">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_11">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_11">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_12">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_12">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_13">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_13">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_14">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_14">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_15">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_15">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_16">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_16">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_17">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_17">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_18">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_18">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_18TEXT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="S_2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_2">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_3">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_3">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_4">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_4">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_5">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_5">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_6">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_6">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_7">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_7">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_8">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_8">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_9">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_9">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_BANDERDER">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_BANDERDER">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_ERDX">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_ERDX">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_ERDXTEXT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="S_FUND">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_FUND">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_SCH3">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_SCH3">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_TIEFENERDER">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_TIEFENERDER">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_TNC">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_TNC">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_TNCS">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_TNCS">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_TNS">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_TNS">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_TNX">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_S_TNX">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_TNXTEXT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="TERMIN">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_TERMIN">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:long">
								<xs:enumeration value="20200122000000000"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="DT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_ADRESSE1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_U_ADRESSE1">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Gewerbepark 1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_ADRESSE2">
		<xs:complexType/>
	</xs:element>
	<xs:element name="U_EMAIL">
		<xs:complexType/>
	</xs:element>
	<xs:element name="U_FAXNR">
		<xs:complexType/>
	</xs:element>
	<xs:element name="U_NAME1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_U_NAME1">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
								<xs:enumeration value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_NAME2">
		<xs:complexType/>
	</xs:element>
	<xs:element name="U_ORT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_U_ORT">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Grosswil"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_PLZ">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_U_PLZ">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:short">
								<xs:enumeration value="7777"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_TELNR">
		<xs:complexType/>
	</xs:element>
	<xs:element name="VERSICH">
		<xs:complexType/>
	</xs:element>
	<xs:element name="VERW">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_VERW">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="VISUM">
		<xs:complexType/>
	</xs:element>
	<xs:element name="WERK">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_WERK">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="EwiD"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="WERK_IN">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_WERK_IN">
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="DT"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="WERK_OUT">
		<xs:complexType>
			<xs:attribute name="Type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="W_EF_EMAIL">
		<xs:complexType/>
	</xs:element>
	<xs:element name="W_EMAIL">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ZAEHLER">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_ZAEHLER">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:decimal">
								<xs:enumeration value="3.055"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ZEV">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_ZEV">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ZEV_TEXT">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ZUSATZ1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_ZUSATZ1">
					<xs:attribute name="OLD" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="FALSE"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ZUSTXT1">
		<xs:complexType/>
	</xs:element>
	<xs:simpleType name="ST_AG_X">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ANLJAHR0">
		<xs:restriction base="xs:byte">
			<xs:enumeration value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ANLNUTZUNG">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Gewerbe"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_AN_INST">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_AN_KONTR">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TRUE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_DOKU">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_EIGENT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TRUE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_F_1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_F_2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_F_3">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_F_4">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_F_5N">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_F_6">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_GEBAEUDEART">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Wohn- + Geschäftshaus"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_GES_ADRESSE1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Hauptallee 186"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_GES_NAME1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Graf Hoch und Schiefbau AG"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_GES_NAME2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Theo Graf"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_GES_ORT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Neustadt"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_GES_PLZ">
		<xs:restriction base="xs:short">
			<xs:enumeration value="6560"/>
		</xs:restriction>
	</xs:simpleType>
		<xs:simpleType name="ST_ID">
			<xs:restriction base="xs:int">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	<xs:simpleType name="ST_ID_FORMTMP">
		<xs:restriction base="xs:short">
			<xs:enumeration value="2153"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_INST">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_INST_OUT">
		<xs:restriction base="xs:long">
			<xs:enumeration value="20200728112751000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_I_ADRESSE1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Birkenweg 23"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_I_ADRESSE2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Postfach 84"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_I_EMAIL">
		<xs:restriction base="xs:string">
			<xs:enumeration value="resi@brunnerinformatik.ch"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_I_KONZESS">
		<xs:restriction base="xs:string">
			<xs:enumeration value="K-0101"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_I_NAME1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SaveControl GmbH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_I_NAME2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Installationskontrolle"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_I_ORT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Neustadt"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_I_PLZ">
		<xs:restriction base="xs:short">
			<xs:enumeration value="6560"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_I_SACHB">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Simon Reber"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_I_TELNR">
		<xs:restriction base="xs:string">
			<xs:enumeration value="031 917 00 43"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_KONDATUM">
		<xs:restriction base="xs:long">
			<xs:enumeration value="20200110000000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_KONDATUM_AKPKSP">
		<xs:restriction base="xs:long">
			<xs:enumeration value="20200110000000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_KONTR_SIGN">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OwRsq1LZ8zn"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_KONTR_SIKT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Simon Reber"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_MP_AK">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_MP_ANDERS">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_MP_BEST">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TRUE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_MP_ERWEIT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_MP_NEU">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_MP_PK">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TRUE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_MP_SK">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_MP_SP">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_MP_X">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_N_MESSNORM">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SN EN 61557"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_N_NORM1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_N_NORM1TEXT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NIV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_N_NORM2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_N_NORM2TEXT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NIN SN 411000:2015"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_N_NORM3">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_N_NORM3TEXT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_N_NORM4">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_N_NORM4TEXT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SN EN 60204"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_N_NORM5">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_N_NORM5TEXT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Werkvorschriften (TAB)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_N_NORM6">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_N_NORM6TEXT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="D-A-CH-CZ"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_N_NORM7">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_N_NORM7TEXT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SNR 464022"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_N_NORM8">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_N_NORM8TEXT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SNR 464113"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_OHNEMANGEL">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_O_HAUSNR">
		<xs:restriction base="xs:byte">
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_O_ORT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Grosswil"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_O_PLZ">
		<xs:restriction base="xs:short">
			<xs:enumeration value="7777"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_O_STRASSE">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Gewerbepark"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_PACKNAME">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ewid.evu"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_PARZELLE">
		<xs:restriction base="xs:string">
			<xs:enumeration value="7777-01"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SCHEMA">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SIGN_DATUM">
		<xs:restriction base="xs:long">
			<xs:enumeration value="20200324000000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SKLISTE_BEMTITEL">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Bemerkungen"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SK_1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SK_1NORM">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EN 61439"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SK_2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SK_3">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SK_ASBEST0">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SK_ASBEST1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_STROMK">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_10">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_11">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_12">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_13">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_14">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_15">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_16">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_17">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_18">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_3">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_4">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_5">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_6">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_7">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_8">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_9">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_BANDERDER">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_ERDX">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_FUND">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_SCH3">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_TIEFENERDER">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_TNC">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_TNCS">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_TNS">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_S_TNX">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_TERMIN">
		<xs:restriction base="xs:long">
			<xs:enumeration value="20200122000000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_U_ADRESSE1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Gewerbepark 1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_U_NAME1">
		<xs:restriction base="xs:byte">
			<xs:enumeration value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_U_ORT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Grosswil"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_U_PLZ">
		<xs:restriction base="xs:short">
			<xs:enumeration value="7777"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_VERW">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_WERK">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EwiD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_WERK_IN">
		<xs:restriction base="xs:long">
			<xs:enumeration value="20200728000000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ZAEHLER">
		<xs:restriction base="xs:decimal">
			<xs:enumeration value="3.055"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ZEV">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ZUSATZ1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RowT">
		<xs:all>
			<xs:element ref="ID"/>
			<xs:element ref="ID_PROJECT"/>
			<xs:element ref="COPY_ID"/>
			<xs:element ref="MANDANT"/>
			<xs:element ref="I_PROJECT"/>
			<xs:element ref="I_FORM"/>
			<xs:element ref="E_PROJECT"/>
			<xs:element ref="INST_OUT"/>
			<xs:element ref="WERK_IN"/>
			<xs:element ref="WERK_OUT"/>
			<xs:element ref="INST_IN"/>
			<xs:element ref="PROJ_NR"/>
			<xs:element ref="PROJ_JAHR"/>
			<xs:element ref="WERK"/>
			<xs:element ref="W_EMAIL"/>
			<xs:element ref="W_EF_EMAIL"/>
			<xs:element ref="VISUM"/>
			<xs:element ref="I_NAME1"/>
			<xs:element ref="I_NAME2"/>
			<xs:element ref="I_ADRESSE1"/>
			<xs:element ref="I_ADRESSE2"/>
			<xs:element ref="I_PLZ"/>
			<xs:element ref="I_ORT"/>
			<xs:element ref="I_KONZESS"/>
			<xs:element ref="I_SACHB"/>
			<xs:element ref="I_TELNR"/>
			<xs:element ref="I_FAXNR"/>
			<xs:element ref="I_EMAIL"/>
			<xs:element ref="I_EF_EMAIL"/>
			<xs:element ref="O_STRASSE"/>
			<xs:element ref="O_HAUSNR"/>
			<xs:element ref="O_PLZ"/>
			<xs:element ref="O_ORT"/>
			<xs:element ref="GEMEINDE"/>
			<xs:element ref="PARZELLE"/>
			<xs:element ref="VERSICH"/>
			<xs:element ref="GEBAEUDEART"/>
			<xs:element ref="GEBAEUDETEIL"/>
			<xs:element ref="LAGE"/>
			<xs:element ref="ANLNUTZUNG"/>
			<xs:element ref="U_NAME1"/>
			<xs:element ref="U_NAME2"/>
			<xs:element ref="U_ADRESSE1"/>
			<xs:element ref="U_ADRESSE2"/>
			<xs:element ref="U_PLZ"/>
			<xs:element ref="U_ORT"/>
			<xs:element ref="U_TELNR"/>
			<xs:element ref="U_FAXNR"/>
			<xs:element ref="U_EMAIL"/>
			<xs:element ref="GEBAEUDENR"/>
			<xs:element ref="EGID"/>
			<xs:element ref="ABONR"/>
			<xs:element ref="EVUAUFTNR"/>
			<xs:element ref="TERMIN"/>
			<xs:element ref="PACKNAME"/>
			<xs:element ref="MP_NR"/>
			<xs:element ref="RAPPORT_NR"/>
			<xs:element ref="AN_INST"/>
			<xs:element ref="AN_KONTR"/>
			<xs:element ref="EIGENT"/>
			<xs:element ref="VERW"/>
			<xs:element ref="STROMK"/>
			<xs:element ref="INST"/>
			<xs:element ref="AG_X"/>
			<xs:element ref="AG_XTEXT"/>
			<xs:element ref="GES_NAME1"/>
			<xs:element ref="GES_NAME2"/>
			<xs:element ref="GES_ADRESSE1"/>
			<xs:element ref="GES_ADRESSE2"/>
			<xs:element ref="GES_PLZ"/>
			<xs:element ref="GES_ORT"/>
			<xs:element ref="GES_TELNR"/>
			<xs:element ref="GES_FAXNR"/>
			<xs:element ref="GES_EMAIL"/>
			<xs:element ref="BEMERKUNG"/>
			<xs:element ref="ZEV"/>
			<xs:element ref="ZEV_TEXT"/>
			<xs:element ref="ZAEHLER"/>
			<xs:element ref="ANLJAHR0"/>
			<xs:element ref="ANL1"/>
			<xs:element ref="ANLJAHR1"/>
			<xs:element ref="ANL2"/>
			<xs:element ref="ANLJAHR2"/>
			<xs:element ref="MP_NEU"/>
			<xs:element ref="MP_BEST"/>
			<xs:element ref="MP_ANDERS"/>
			<xs:element ref="MP_ERWEIT"/>
			<xs:element ref="MP_X"/>
			<xs:element ref="MP_XTEXT"/>
			<xs:element ref="MP_SK"/>
			<xs:element ref="MP_AK"/>
			<xs:element ref="MP_PK"/>
			<xs:element ref="MP_SP"/>
			<xs:element ref="IA_DATUM"/>
			<xs:element ref="KONDATUM_SK"/>
			<xs:element ref="KONDATUM_AKPKSP"/>
			<xs:element ref="KONDATUM"/>
			<xs:element ref="KONTUMFANG"/>
			<xs:element ref="S_1"/>
			<xs:element ref="S_2"/>
			<xs:element ref="S_3"/>
			<xs:element ref="S_4"/>
			<xs:element ref="S_5"/>
			<xs:element ref="S_6"/>
			<xs:element ref="S_7"/>
			<xs:element ref="S_8"/>
			<xs:element ref="S_9"/>
			<xs:element ref="S_18"/>
			<xs:element ref="S_18TEXT"/>
			<xs:element ref="S_10"/>
			<xs:element ref="S_TNS"/>
			<xs:element ref="S_TNC"/>
			<xs:element ref="S_TNCS"/>
			<xs:element ref="S_SCH3"/>
			<xs:element ref="S_TNX"/>
			<xs:element ref="S_TNXTEXT"/>
			<xs:element ref="S_12"/>
			<xs:element ref="S_FUND"/>
			<xs:element ref="S_TIEFENERDER"/>
			<xs:element ref="S_BANDERDER"/>
			<xs:element ref="S_ERDX"/>
			<xs:element ref="S_ERDXTEXT"/>
			<xs:element ref="S_11"/>
			<xs:element ref="S_13"/>
			<xs:element ref="S_14"/>
			<xs:element ref="S_15"/>
			<xs:element ref="S_16"/>
			<xs:element ref="S_17"/>
			<xs:element ref="F_1"/>
			<xs:element ref="F_2"/>
			<xs:element ref="F_3"/>
			<xs:element ref="F_4"/>
			<xs:element ref="F_5N"/>
			<xs:element ref="F_6"/>
			<xs:element ref="F_6TEXT"/>
			<xs:element ref="F_SPANNUNG"/>
			<xs:element ref="F_BEM"/>
			<xs:element ref="N_MESSNORM"/>
			<xs:element ref="N_MESS1"/>
			<xs:element ref="N_MESS2"/>
			<xs:element ref="N_MESS3"/>
			<xs:element ref="N_NORM1"/>
			<xs:element ref="N_NORM1TEXT"/>
			<xs:element ref="N_NORM2"/>
			<xs:element ref="N_NORM2TEXT"/>
			<xs:element ref="N_NORM3"/>
			<xs:element ref="N_NORM3TEXT"/>
			<xs:element ref="N_NORM4"/>
			<xs:element ref="N_NORM4TEXT"/>
			<xs:element ref="N_NORM5"/>
			<xs:element ref="N_NORM5TEXT"/>
			<xs:element ref="N_NORM6"/>
			<xs:element ref="N_NORM6TEXT"/>
			<xs:element ref="N_NORM7"/>
			<xs:element ref="N_NORM7TEXT"/>
			<xs:element ref="N_NORM8"/>
			<xs:element ref="N_NORM8TEXT"/>
			<xs:element ref="SKLISTE_BEMTITEL"/>
			<xs:element ref="SK_ASBEST0"/>
			<xs:element ref="SK_ASBEST1"/>
			<xs:element ref="SK_1"/>
			<xs:element ref="SK_1NORM"/>
			<xs:element ref="SK_2"/>
			<xs:element ref="SK_3"/>
			<xs:element ref="DOKU"/>
			<xs:element ref="SCHEMA"/>
			<xs:element ref="ZUSATZ1"/>
			<xs:element ref="ZUSTXT1"/>
			<xs:element ref="OHNEMANGEL"/>
			<xs:element ref="MANGELTEXT"/>
			<xs:element ref="GGZ_NAME1"/>
			<xs:element ref="GGZ_NAME2"/>
			<xs:element ref="GGZ_ADRESSE1"/>
			<xs:element ref="GGZ_ADRESSE2"/>
			<xs:element ref="GGZ_PLZ"/>
			<xs:element ref="GGZ_ORT"/>
			<xs:element ref="GGZ_KONZESS"/>
			<xs:element ref="GGZ_TELNR"/>
			<xs:element ref="GGZ_EMAIL"/>
			<xs:element ref="GGZ_DATUM"/>
			<xs:element ref="GGZ_GRUND"/>
			<xs:element ref="GGZ_SIGN"/>
			<xs:element ref="GGZ_SIKT"/>
			<xs:element ref="SIGN_DATUM"/>
			<xs:element ref="KONTR_SIGN"/>
			<xs:element ref="KONTR_SIKT"/>
			<xs:element ref="SKListeMESSPROT18_DE"/>
			<xs:element ref="ID_FORMTMP"/>
			<xs:element ref="FORM_TYP"/>
		</xs:all>
	</xs:complexType>
</xs:schema>
