SiNa-Hub.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ABONR" type="T_ABONR"/>
	<xs:element name="ANDERS" type="T_ANDERS"/>
	<xs:element name="ANL1" type="T_ANL1"/>
	<xs:element name="ANL2" type="T_ANL2"/>
	<xs:element name="ANLJAHR0" type="T_ANLJAHR0"/>
	<xs:element name="ANLJAHR1" type="T_ANLJAHR1"/>
	<xs:element name="ANLJAHR2" type="T_ANLJAHR2"/>
	<xs:element name="ANLNUTZUNG" type="T_ANLNUTZUNG"/>
	<xs:element name="AUFTRAK" type="T_AUFTRAK"/>
	<xs:element name="AUFTRSK" type="T_AUFTRSK"/>
	<xs:element name="AUFTRSK_ADRESSE1" type="T_AUFTRSK_ADRESSE1"/>
	<xs:element name="AUFTRSK_ADRESSE2" type="T_AUFTRSK_ADRESSE2"/>
	<xs:element name="AUFTRSK_EMAIL" type="T_AUFTRSK_EMAIL"/>
	<xs:element name="AUFTRSK_KONZESS" type="T_AUFTRSK_KONZESS"/>
	<xs:element name="AUFTRSK_NAME1" type="T_AUFTRSK_NAME1"/>
	<xs:element name="AUFTRSK_NAME2" type="T_AUFTRSK_NAME2"/>
	<xs:element name="AUFTRSK_ORT" type="T_AUFTRSK_ORT"/>
	<xs:element name="AUFTRSK_PLZ" type="T_AUFTRSK_PLZ"/>
	<xs:element name="AUFTRSK_TELNR" type="T_AUFTRSK_TELNR"/>
	<xs:element name="AUU_ART" type="T_AUU_ART"/>
	<xs:element name="AUU_IN" type="T_AUU_IN"/>
	<xs:element name="BEI_MP" type="T_BEI_MP"/>
	<xs:element name="BEI_MPPV" type="T_BEI_MPPV"/>
	<xs:element name="BEI_TEXT" type="T_BEI_TEXT"/>
	<xs:element name="BEI_X" type="T_BEI_X"/>
	<xs:element name="BEMERKUNG" type="T_BEMERKUNG"/>
	<xs:element name="BESONDER" type="T_BESONDER"/>
	<xs:element name="BEST" type="T_BEST"/>
	<xs:element name="COPY_ID" type="T_COPY_ID"/>
	<xs:element name="DATAPACKET" type="T_DATAPACKET"/>
	<xs:element name="EGID" type="T_EGID"/>
	<xs:element name="ERWEIT" type="T_ERWEIT"/>
	<xs:element name="EVUAUFTNR" type="T_EVUAUFTNR"/>
	<xs:element name="EW_BEMERKUNG" type="T_EW_BEMERKUNG"/>
	<xs:element name="EW_SIGN" type="T_EW_SIGN"/>
	<xs:element name="EW_SIGNDAT" type="T_EW_SIGNDAT"/>
	<xs:element name="EW_SIGNKT" type="T_EW_SIGNKT"/>
	<xs:element name="E_ADRESSE1" type="T_E_ADRESSE1"/>
	<xs:element name="E_ADRESSE2" type="T_E_ADRESSE2"/>
	<xs:element name="E_EMAIL" type="T_E_EMAIL"/>
	<xs:element name="E_FAXNR" type="T_E_FAXNR"/>
	<xs:element name="E_KONZESS" type="T_E_KONZESS"/>
	<xs:element name="E_NAME1" type="T_E_NAME1"/>
	<xs:element name="E_NAME2" type="T_E_NAME2"/>
	<xs:element name="E_ORT" type="T_E_ORT"/>
	<xs:element name="E_PLZ" type="T_E_PLZ"/>
	<xs:element name="E_PROJECT" type="T_E_PROJECT"/>
	<xs:element name="E_TELNR" type="T_E_TELNR"/>
	<xs:element name="FORM_TYP" type="T_FORM_TYP"/>
	<xs:element name="GEBAEUDEART" type="T_GEBAEUDEART"/>
	<xs:element name="GEBAEUDENR" type="T_GEBAEUDENR"/>
	<xs:element name="GEBAEUDETEIL" type="T_GEBAEUDETEIL"/>
	<xs:element name="GEMEINDE" type="T_GEMEINDE"/>
	<xs:element name="GRUND_X" type="T_GRUND_X"/>
	<xs:element name="GRUND_XTXT" type="T_GRUND_XTXT"/>
	<xs:element name="IA_DATUM" type="T_IA_DATUM"/>
	<xs:element name="ID" type="T_ID"/>
	<xs:element name="ID_FORMTMP" type="T_ID_FORMTMP"/>
	<xs:element name="ID_PROJECT" type="T_ID_PROJECT"/>
	<xs:element name="INST_IN" type="T_INST_IN"/>
	<xs:element name="INST_OUT" type="T_INST_OUT"/>
	<xs:element name="I_ADRESSE1" type="T_I_ADRESSE1"/>
	<xs:element name="I_ADRESSE2" type="T_I_ADRESSE2"/>
	<xs:element name="I_EF_EMAIL" type="T_I_EF_EMAIL"/>
	<xs:element name="I_EMAIL" type="T_I_EMAIL"/>
	<xs:element name="I_FAXNR" type="T_I_FAXNR"/>
	<xs:element name="I_FORM" type="T_I_FORM"/>
	<xs:element name="I_KONZESS" type="T_I_KONZESS"/>
	<xs:element name="I_NAME1" type="T_I_NAME1"/>
	<xs:element name="I_NAME2" type="T_I_NAME2"/>
	<xs:element name="I_ORT" type="T_I_ORT"/>
	<xs:element name="I_PLZ" type="T_I_PLZ"/>
	<xs:element name="I_PROJECT" type="T_I_PROJECT"/>
	<xs:element name="I_SACHB" type="T_I_SACHB"/>
	<xs:element name="I_TELNR" type="T_I_TELNR"/>
	<xs:element name="KONDATUM" type="T_KONDATUM"/>
	<xs:element name="KONDATUM_AKPK" type="T_KONDATUM_AKPK"/>
	<xs:element name="KONDATUM_SK" type="T_KONDATUM_SK"/>
	<xs:element name="KONDATZUS" type="T_KONDATZUS"/>
	<xs:element name="KONTR_DAT" type="T_KONTR_DAT"/>
	<xs:element name="KONTR_DAT2" type="T_KONTR_DAT2"/>
	<xs:element name="KONTR_SIGN" type="T_KONTR_SIGN"/>
	<xs:element name="KONTR_SIKT" type="T_KONTR_SIKT"/>
	<xs:element name="KONTUMFANG" type="T_KONTUMFANG"/>
	<xs:element name="KONT_AK" type="T_KONT_AK"/>
	<xs:element name="KONT_PK" type="T_KONT_PK"/>
	<xs:element name="KONT_SIGN2" type="T_KONT_SIGN2"/>
	<xs:element name="KONT_SIKT2" type="T_KONT_SIKT2"/>
	<xs:element name="KONT_SK" type="T_KONT_SK"/>
	<xs:element name="K_ADRESSE1" type="T_K_ADRESSE1"/>
	<xs:element name="K_ADRESSE2" type="T_K_ADRESSE2"/>
	<xs:element name="K_EMAIL" type="T_K_EMAIL"/>
	<xs:element name="K_FAXNR" type="T_K_FAXNR"/>
	<xs:element name="K_KONZESS" type="T_K_KONZESS"/>
	<xs:element name="K_NAME1" type="T_K_NAME1"/>
	<xs:element name="K_NAME2" type="T_K_NAME2"/>
	<xs:element name="K_ORT" type="T_K_ORT"/>
	<xs:element name="K_PLZ" type="T_K_PLZ"/>
	<xs:element name="K_TELNR" type="T_K_TELNR"/>
	<xs:element name="LAGE" type="T_LAGE"/>
	<xs:element name="MANDANT" type="T_MANDANT"/>
	<xs:element name="NEUANL" type="T_NEUANL"/>
	<xs:element name="O_HAUSNR" type="T_O_HAUSNR"/>
	<xs:element name="O_ORT" type="T_O_ORT"/>
	<xs:element name="O_PLZ" type="T_O_PLZ"/>
	<xs:element name="O_STRASSE" type="T_O_STRASSE"/>
	<xs:element name="PACKNAME" type="T_PACKNAME"/>
	<xs:element name="PARZELLE" type="T_PARZELLE"/>
	<xs:element name="PGM_INFO" type="T_PGM_INFO"/>
	<xs:element name="PLOMBENTF" type="T_PLOMBENTF"/>
	<xs:element name="PROJ_JAHR" type="T_PROJ_JAHR"/>
	<xs:element name="PROJ_NR" type="T_PROJ_NR"/>
	<xs:element name="P_ADRESSE1" type="T_P_ADRESSE1"/>
	<xs:element name="P_ADRESSE2" type="T_P_ADRESSE2"/>
	<xs:element name="P_EMAIL" type="T_P_EMAIL"/>
	<xs:element name="P_FAXNR" type="T_P_FAXNR"/>
	<xs:element name="P_NAME1" type="T_P_NAME1"/>
	<xs:element name="P_NAME2" type="T_P_NAME2"/>
	<xs:element name="P_ORT" type="T_P_ORT"/>
	<xs:element name="P_PLZ" type="T_P_PLZ"/>
	<xs:element name="P_TELNR" type="T_P_TELNR"/>
	<xs:element name="RAPPORT_NR" type="T_RAPPORT_NR"/>
	<xs:element name="ROW" type="T_ROW"/>
	<xs:element name="SIGNATURE" type="T_SIGNATURE"/>
	<xs:element name="SIGNATURE2" type="T_SIGNATURE2"/>
	<xs:element name="SIGNKT" type="T_SIGNKT"/>
	<xs:element name="SIGNKT2" type="T_SIGNKT2"/>
	<xs:element name="SIGN_DATUM" type="T_SIGN_DATUM"/>
	<xs:element name="SIGN_DATUM2" type="T_SIGN_DATUM2"/>
	<xs:element name="SINAN" type="T_SINAN"/>
	<xs:element name="SINAV" type="T_SINAV"/>
	<xs:element name="SP_GUT" type="T_SP_GUT"/>
	<xs:element name="SP_JA" type="T_SP_JA"/>
	<xs:element name="SP_MANGEL" type="T_SP_MANGEL"/>
	<xs:element name="SP_NEIN" type="T_SP_NEIN"/>
	<xs:element name="SP_PKRELEVANT" type="T_SP_PKRELEVANT"/>
	<xs:element name="SP_PLOMB" type="T_SP_PLOMB"/>
	<xs:element name="TERMIN" type="T_TERMIN"/>
	<xs:element name="TNC" type="T_TNC"/>
	<xs:element name="TNCS" type="T_TNCS"/>
	<xs:element name="TNS" type="T_TNS"/>
	<xs:element name="TNTEXT" type="T_TNTEXT"/>
	<xs:element name="TNX" type="T_TNX"/>
	<xs:element name="UU_ART" type="T_UU_ART"/>
	<xs:element name="UU_IK" type="T_UU_IK"/>
	<xs:element name="UU_IKLN" type="T_UU_IKLN"/>
	<xs:element name="UU_IKLN_ENDE" type="T_UU_IKLN_ENDE"/>
	<xs:element name="UU_IKMAX" type="T_UU_IKMAX"/>
	<xs:element name="UU_IN" type="T_UU_IN"/>
	<xs:element name="UU_RISO" type="T_UU_RISO"/>
	<xs:element name="UU_ZWECK" type="T_UU_ZWECK"/>
	<xs:element name="U_ADRESSE1" type="T_U_ADRESSE1"/>
	<xs:element name="U_ADRESSE2" type="T_U_ADRESSE2"/>
	<xs:element name="U_EMAIL" type="T_U_EMAIL"/>
	<xs:element name="U_FAXNR" type="T_U_FAXNR"/>
	<xs:element name="U_NAME1" type="T_U_NAME1"/>
	<xs:element name="U_NAME2" type="T_U_NAME2"/>
	<xs:element name="U_ORT" type="T_U_ORT"/>
	<xs:element name="U_PLZ" type="T_U_PLZ"/>
	<xs:element name="U_TELNR" type="T_U_TELNR"/>
	<xs:element name="VERSICH" type="T_VERSICH"/>
	<xs:element name="VERT1" type="T_VERT1"/>
	<xs:element name="VERT1_X" type="T_VERT1_X"/>
	<xs:element name="VISUM" type="T_VISUM"/>
	<xs:element name="V_ADRESSE1" type="T_V_ADRESSE1"/>
	<xs:element name="V_ADRESSE2" type="T_V_ADRESSE2"/>
	<xs:element name="V_EMAIL" type="T_V_EMAIL"/>
	<xs:element name="V_FAXNR" type="T_V_FAXNR"/>
	<xs:element name="V_NAME1" type="T_V_NAME1"/>
	<xs:element name="V_NAME2" type="T_V_NAME2"/>
	<xs:element name="V_ORT" type="T_V_ORT"/>
	<xs:element name="V_PLZ" type="T_V_PLZ"/>
	<xs:element name="V_TELNR" type="T_V_TELNR"/>
	<xs:element name="WERK" type="T_WERK"/>
	<xs:element name="WERK_IN" type="T_WERK_IN"/>
	<xs:element name="WERK_OUT" type="T_WERK_OUT"/>
	<xs:element name="W_EF_EMAIL" type="T_W_EF_EMAIL"/>
	<xs:element name="W_EMAIL" type="T_W_EMAIL"/>
	<xs:element name="ZAEHLER" type="T_ZAEHLER"/>
	<xs:element name="ZEV" type="T_ZEV"/>
	<xs:element name="ZEV_TEXT" type="T_ZEV_TEXT"/>
	<xs:attribute name="DatenbankAnwender" type="AT_3"/>
	<xs:attribute name="DatenbankAnwenderDescr" type="AT_302"/>
	<xs:attribute name="FileVersion" type="AT_300"/>
	<xs:attribute name="FormAnwender" type="AT_3"/>
	<xs:attribute name="FormAnwenderDescr" type="AT_304"/>
	<xs:attribute name="Version" type="AT_1"/>
	<xs:complexType name="T_ABONR">
	</xs:complexType>
	<xs:complexType name="T_ANDERS">
		<xs:simpleContent>
			<xs:extension base="ST_ANDERS">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_ANL1">
	</xs:complexType>
	<xs:complexType name="T_ANL2">
	</xs:complexType>
	<xs:complexType name="T_ANLJAHR0">
		<xs:simpleContent>
			<xs:extension base="ST_ANLJAHR0">
				<xs:attribute name="OLD" use="required" type="AT_150"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_ANLJAHR1">
	</xs:complexType>
	<xs:complexType name="T_ANLJAHR2">
	</xs:complexType>
	<xs:complexType name="T_ANLNUTZUNG">
		<xs:simpleContent>
			<xs:extension base="ST_ANLNUTZUNG">
				<xs:attribute name="OLD" use="required" type="AT_67"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_AUFTRAK">
		<xs:simpleContent>
			<xs:extension base="ST_AUFTRAK">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_AUFTRSK">
		<xs:simpleContent>
			<xs:extension base="ST_AUFTRSK">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_AUFTRSK_ADRESSE1">
	</xs:complexType>
	<xs:complexType name="T_AUFTRSK_ADRESSE2">
	</xs:complexType>
	<xs:complexType name="T_AUFTRSK_EMAIL">
	</xs:complexType>
	<xs:complexType name="T_AUFTRSK_KONZESS">
	</xs:complexType>
	<xs:complexType name="T_AUFTRSK_NAME1">
	</xs:complexType>
	<xs:complexType name="T_AUFTRSK_NAME2">
	</xs:complexType>
	<xs:complexType name="T_AUFTRSK_ORT">
	</xs:complexType>
	<xs:complexType name="T_AUFTRSK_PLZ">
	</xs:complexType>
	<xs:complexType name="T_AUFTRSK_TELNR">
	</xs:complexType>
	<xs:complexType name="T_AUU_ART">
	</xs:complexType>
	<xs:complexType name="T_AUU_IN">
	</xs:complexType>
	<xs:complexType name="T_BEI_MP">
		<xs:simpleContent>
			<xs:extension base="ST_BEI_MP">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_BEI_MPPV">
		<xs:simpleContent>
			<xs:extension base="ST_BEI_MPPV">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_BEI_TEXT">
	</xs:complexType>
	<xs:complexType name="T_BEI_X">
		<xs:simpleContent>
			<xs:extension base="ST_BEI_X">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_BEMERKUNG">
	</xs:complexType>
	<xs:complexType name="T_BESONDER">
	</xs:complexType>
	<xs:complexType name="T_BEST">
		<xs:simpleContent>
			<xs:extension base="ST_BEST">
				<xs:attribute name="OLD" use="required" type="AT_159"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_COPY_ID">
	</xs:complexType>
	<xs:complexType name="T_DATAPACKET">
		<xs:sequence>
			<xs:element ref="ROW"/>
			<xs:element ref="PGM_INFO"/>
		</xs:sequence>
		<xs:attribute ref="Version" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_EGID">
	</xs:complexType>
	<xs:complexType name="T_ERWEIT">
		<xs:simpleContent>
			<xs:extension base="ST_ERWEIT">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_EVUAUFTNR">
	</xs:complexType>
	<xs:complexType name="T_EW_BEMERKUNG">
	</xs:complexType>
	<xs:complexType name="T_EW_SIGN">
	</xs:complexType>
	<xs:complexType name="T_EW_SIGNDAT">
		<xs:attribute name="Type" use="required" type="AT_13"/>
	</xs:complexType>
	<xs:complexType name="T_EW_SIGNKT">
	</xs:complexType>
	<xs:complexType name="T_E_ADRESSE1">
	</xs:complexType>
	<xs:complexType name="T_E_ADRESSE2">
	</xs:complexType>
	<xs:complexType name="T_E_EMAIL">
	</xs:complexType>
	<xs:complexType name="T_E_FAXNR">
	</xs:complexType>
	<xs:complexType name="T_E_KONZESS">
	</xs:complexType>
	<xs:complexType name="T_E_NAME1">
	</xs:complexType>
	<xs:complexType name="T_E_NAME2">
	</xs:complexType>
	<xs:complexType name="T_E_ORT">
	</xs:complexType>
	<xs:complexType name="T_E_PLZ">
	</xs:complexType>
	<xs:complexType name="T_E_PROJECT">
	</xs:complexType>
	<xs:complexType name="T_E_TELNR">
	</xs:complexType>
	<xs:complexType name="T_GEBAEUDEART">
		<xs:simpleContent>
			<xs:extension base="ST_GEBAEUDEART">
				<xs:attribute name="OLD" use="required" type="AT_62"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_GEBAEUDENR">
	</xs:complexType>
	<xs:complexType name="T_GEBAEUDETEIL">
	</xs:complexType>
	<xs:complexType name="T_GEMEINDE">
		<xs:simpleContent>
			<xs:extension base="ST_GEMEINDE">
				<xs:attribute name="OLD" use="required" type="AT_56"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_GRUND_X">
		<xs:simpleContent>
			<xs:extension base="ST_GRUND_X">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_GRUND_XTXT">
	</xs:complexType>
	<xs:complexType name="T_IA_DATUM">
		<xs:attribute name="Type" use="required" type="AT_13"/>
	</xs:complexType>
	<xs:complexType name="T_ID">
		<xs:simpleContent>
			<xs:extension base="ST_ID">
				<xs:attribute name="OLD" use="required" type="AT_3"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_ID_FORMTMP">
		<xs:simpleContent>
			<xs:extension base="ST_ID_FORMTMP">
				<xs:attribute name="OLD" use="required" type="AT_8"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_ID_PROJECT">
	</xs:complexType>
	<xs:complexType name="T_INST_IN">
		<xs:attribute name="Type" use="required" type="AT_13"/>
	</xs:complexType>
	<xs:complexType name="T_INST_OUT">
		<xs:attribute name="Type" use="required" type="AT_13"/>
	</xs:complexType>
	<xs:complexType name="T_I_ADRESSE1">
		<xs:simpleContent>
			<xs:extension base="ST_I_ADRESSE1">
				<xs:attribute name="OLD" use="required" type="AT_32"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_I_ADRESSE2">
		<xs:simpleContent>
			<xs:extension base="ST_I_ADRESSE2">
				<xs:attribute name="OLD" use="required" type="AT_34"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_I_EF_EMAIL">
	</xs:complexType>
	<xs:complexType name="T_I_EMAIL">
		<xs:simpleContent>
			<xs:extension base="ST_I_EMAIL">
				<xs:attribute name="OLD" use="required" type="AT_47"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_I_FAXNR">
	</xs:complexType>
	<xs:complexType name="T_I_FORM">
	</xs:complexType>
	<xs:complexType name="T_I_KONZESS">
		<xs:simpleContent>
			<xs:extension base="ST_I_KONZESS">
				<xs:attribute name="OLD" use="required" type="AT_40"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_I_NAME1">
		<xs:simpleContent>
			<xs:extension base="ST_I_NAME1">
				<xs:attribute name="OLD" use="required" type="AT_28"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_I_NAME2">
		<xs:simpleContent>
			<xs:extension base="ST_I_NAME2">
				<xs:attribute name="OLD" use="required" type="AT_30"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_I_ORT">
		<xs:simpleContent>
			<xs:extension base="ST_I_ORT">
				<xs:attribute name="OLD" use="required" type="AT_38"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_I_PLZ">
		<xs:simpleContent>
			<xs:extension base="ST_I_PLZ">
				<xs:attribute name="OLD" use="required" type="AT_36"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_I_PROJECT">
	</xs:complexType>
	<xs:complexType name="T_I_SACHB">
		<xs:simpleContent>
			<xs:extension base="ST_I_SACHB">
				<xs:attribute name="OLD" use="required" type="AT_42"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_I_TELNR">
		<xs:simpleContent>
			<xs:extension base="ST_I_TELNR">
				<xs:attribute name="OLD" use="required" type="AT_44"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_KONDATUM">
		<xs:simpleContent>
			<xs:extension base="ST_KONDATUM">
				<xs:attribute name="OLD" use="required" type="AT_210"/>
				<xs:attribute name="Type" use="required" type="AT_13"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_KONDATUM_AKPK">
		<xs:simpleContent>
			<xs:extension base="ST_KONDATUM_AKPK">
				<xs:attribute name="OLD" use="required" type="AT_210"/>
				<xs:attribute name="Type" use="required" type="AT_13"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_KONDATUM_SK">
		<xs:attribute name="Type" use="required" type="AT_13"/>
	</xs:complexType>
	<xs:complexType name="T_KONDATZUS">
	</xs:complexType>
	<xs:complexType name="T_KONTR_DAT">
		<xs:simpleContent>
			<xs:extension base="ST_KONTR_DAT">
				<xs:attribute name="OLD" use="required" type="AT_86"/>
				<xs:attribute name="Type" use="required" type="AT_13"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_KONTR_DAT2">
		<xs:simpleContent>
			<xs:extension base="ST_KONTR_DAT2">
				<xs:attribute name="OLD" use="required" type="AT_86"/>
				<xs:attribute name="Type" use="required" type="AT_13"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_KONTR_SIGN">
	</xs:complexType>
	<xs:complexType name="T_KONTR_SIKT">
	</xs:complexType>
	<xs:complexType name="T_KONTUMFANG">
	</xs:complexType>
	<xs:complexType name="T_KONT_AK">
		<xs:simpleContent>
			<xs:extension base="ST_KONT_AK">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_KONT_PK">
		<xs:simpleContent>
			<xs:extension base="ST_KONT_PK">
				<xs:attribute name="OLD" use="required" type="AT_159"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_KONT_SIGN2">
		<xs:simpleContent>
			<xs:extension base="ST_KONT_SIGN2">
				<xs:attribute name="OLD" use="required" type="AT_288"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_KONT_SIKT2">
		<xs:simpleContent>
			<xs:extension base="ST_KONT_SIKT2">
				<xs:attribute name="OLD" use="required" type="AT_42"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_KONT_SK">
		<xs:simpleContent>
			<xs:extension base="ST_KONT_SK">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_K_ADRESSE1">
		<xs:simpleContent>
			<xs:extension base="ST_K_ADRESSE1">
				<xs:attribute name="OLD" use="required" type="AT_32"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_K_ADRESSE2">
		<xs:simpleContent>
			<xs:extension base="ST_K_ADRESSE2">
				<xs:attribute name="OLD" use="required" type="AT_34"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_K_EMAIL">
		<xs:simpleContent>
			<xs:extension base="ST_K_EMAIL">
				<xs:attribute name="OLD" use="required" type="AT_141"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_K_FAXNR">
	</xs:complexType>
	<xs:complexType name="T_K_KONZESS">
		<xs:simpleContent>
			<xs:extension base="ST_K_KONZESS">
				<xs:attribute name="OLD" use="required" type="AT_40"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_K_NAME1">
		<xs:simpleContent>
			<xs:extension base="ST_K_NAME1">
				<xs:attribute name="OLD" use="required" type="AT_28"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_K_NAME2">
		<xs:simpleContent>
			<xs:extension base="ST_K_NAME2">
				<xs:attribute name="OLD" use="required" type="AT_30"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_K_ORT">
		<xs:simpleContent>
			<xs:extension base="ST_K_ORT">
				<xs:attribute name="OLD" use="required" type="AT_38"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_K_PLZ">
		<xs:simpleContent>
			<xs:extension base="ST_K_PLZ">
				<xs:attribute name="OLD" use="required" type="AT_36"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_K_TELNR">
		<xs:simpleContent>
			<xs:extension base="ST_K_TELNR">
				<xs:attribute name="OLD" use="required" type="AT_138"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_LAGE">
		<xs:simpleContent>
			<xs:extension base="ST_LAGE">
				<xs:attribute name="OLD" use="required" type="AT_65"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_MANDANT">
	</xs:complexType>
	<xs:complexType name="T_NEUANL">
		<xs:simpleContent>
			<xs:extension base="ST_NEUANL">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_O_HAUSNR">
		<xs:simpleContent>
			<xs:extension base="ST_O_HAUSNR">
				<xs:attribute name="OLD" use="required" type="AT_52"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_O_ORT">
		<xs:simpleContent>
			<xs:extension base="ST_O_ORT">
				<xs:attribute name="OLD" use="required" type="AT_56"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_O_PLZ">
		<xs:simpleContent>
			<xs:extension base="ST_O_PLZ">
				<xs:attribute name="OLD" use="required" type="AT_54"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_O_STRASSE">
		<xs:simpleContent>
			<xs:extension base="ST_O_STRASSE">
				<xs:attribute name="OLD" use="required" type="AT_50"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_PACKNAME">
		<xs:simpleContent>
			<xs:extension base="ST_PACKNAME">
				<xs:attribute name="OLD" use="required" type="AT_89"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_PARZELLE">
	</xs:complexType>
	<xs:complexType name="T_PGM_INFO">
		<xs:attribute ref="FileVersion" use="required"/>
		<xs:attribute ref="DatenbankAnwender" use="required"/>
		<xs:attribute ref="DatenbankAnwenderDescr" use="required"/>
		<xs:attribute ref="FormAnwender" use="required"/>
		<xs:attribute ref="FormAnwenderDescr" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_PLOMBENTF">
		<xs:simpleContent>
			<xs:extension base="ST_PLOMBENTF">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_PROJ_JAHR">
	</xs:complexType>
	<xs:complexType name="T_PROJ_NR">
	</xs:complexType>
	<xs:complexType name="T_P_ADRESSE1">
		<xs:simpleContent>
			<xs:extension base="ST_P_ADRESSE1">
				<xs:attribute name="OLD" use="required" type="AT_95"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_P_ADRESSE2">
	</xs:complexType>
	<xs:complexType name="T_P_EMAIL">
	</xs:complexType>
	<xs:complexType name="T_P_FAXNR">
	</xs:complexType>
	<xs:complexType name="T_P_NAME1">
		<xs:simpleContent>
			<xs:extension base="ST_P_NAME1">
				<xs:attribute name="OLD" use="required" type="AT_69"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_P_NAME2">
	</xs:complexType>
	<xs:complexType name="T_P_ORT">
		<xs:simpleContent>
			<xs:extension base="ST_P_ORT">
				<xs:attribute name="OLD" use="required" type="AT_56"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_P_PLZ">
		<xs:simpleContent>
			<xs:extension base="ST_P_PLZ">
				<xs:attribute name="OLD" use="required" type="AT_54"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_P_TELNR">
	</xs:complexType>
	<xs:complexType name="T_RAPPORT_NR">
	</xs:complexType>
	<xs:complexType name="T_ROW">
		<xs:sequence>
			<xs:element ref="FORM_TYP"/>
			<xs:element ref="ID"/>
			<xs:element ref="ID_PROJECT"/>
			<xs:element ref="COPY_ID"/>
			<xs:element ref="MANDANT"/>
			<xs:element ref="ID_FORMTMP"/>
			<xs:element ref="I_PROJECT"/>
			<xs:element ref="I_FORM"/>
			<xs:element ref="E_PROJECT"/>
			<xs:element ref="INST_OUT"/>
			<xs:element ref="WERK_IN"/>
			<xs:element ref="WERK_OUT"/>
			<xs:element ref="INST_IN"/>
			<xs:element ref="PROJ_NR"/>
			<xs:element ref="PROJ_JAHR"/>
			<xs:element ref="WERK"/>
			<xs:element ref="W_EMAIL"/>
			<xs:element ref="W_EF_EMAIL"/>
			<xs:element ref="VISUM"/>
			<xs:element ref="I_NAME1"/>
			<xs:element ref="I_NAME2"/>
			<xs:element ref="I_ADRESSE1"/>
			<xs:element ref="I_ADRESSE2"/>
			<xs:element ref="I_PLZ"/>
			<xs:element ref="I_ORT"/>
			<xs:element ref="I_KONZESS"/>
			<xs:element ref="I_SACHB"/>
			<xs:element ref="I_TELNR"/>
			<xs:element ref="I_FAXNR"/>
			<xs:element ref="I_EMAIL"/>
			<xs:element ref="I_EF_EMAIL"/>
			<xs:element ref="O_STRASSE"/>
			<xs:element ref="O_HAUSNR"/>
			<xs:element ref="O_PLZ"/>
			<xs:element ref="O_ORT"/>
			<xs:element ref="GEMEINDE"/>
			<xs:element ref="PARZELLE"/>
			<xs:element ref="VERSICH"/>
			<xs:element ref="GEBAEUDEART"/>
			<xs:element ref="GEBAEUDETEIL"/>
			<xs:element ref="LAGE"/>
			<xs:element ref="ANLNUTZUNG"/>
			<xs:element ref="U_NAME1"/>
			<xs:element ref="U_NAME2"/>
			<xs:element ref="U_ADRESSE1"/>
			<xs:element ref="U_ADRESSE2"/>
			<xs:element ref="U_PLZ"/>
			<xs:element ref="U_ORT"/>
			<xs:element ref="U_TELNR"/>
			<xs:element ref="U_FAXNR"/>
			<xs:element ref="U_EMAIL"/>
			<xs:element ref="GEBAEUDENR"/>
			<xs:element ref="EGID"/>
			<xs:element ref="ABONR"/>
			<xs:element ref="EVUAUFTNR"/>
			<xs:element ref="TERMIN"/>
			<xs:element ref="PACKNAME"/>
			<xs:element ref="RAPPORT_NR"/>
			<xs:element ref="P_NAME1"/>
			<xs:element ref="P_NAME2"/>
			<xs:element ref="P_ADRESSE1"/>
			<xs:element ref="P_ADRESSE2"/>
			<xs:element ref="P_PLZ"/>
			<xs:element ref="P_ORT"/>
			<xs:element ref="P_TELNR"/>
			<xs:element ref="P_FAXNR"/>
			<xs:element ref="P_EMAIL"/>
			<xs:element ref="V_NAME1"/>
			<xs:element ref="V_NAME2"/>
			<xs:element ref="V_ADRESSE1"/>
			<xs:element ref="V_ADRESSE2"/>
			<xs:element ref="V_PLZ"/>
			<xs:element ref="V_ORT"/>
			<xs:element ref="V_TELNR"/>
			<xs:element ref="V_FAXNR"/>
			<xs:element ref="V_EMAIL"/>
			<xs:element ref="E_NAME1"/>
			<xs:element ref="E_NAME2"/>
			<xs:element ref="E_ADRESSE1"/>
			<xs:element ref="E_ADRESSE2"/>
			<xs:element ref="E_PLZ"/>
			<xs:element ref="E_ORT"/>
			<xs:element ref="E_KONZESS"/>
			<xs:element ref="E_TELNR"/>
			<xs:element ref="E_FAXNR"/>
			<xs:element ref="E_EMAIL"/>
			<xs:element ref="K_NAME1"/>
			<xs:element ref="K_NAME2"/>
			<xs:element ref="K_ADRESSE1"/>
			<xs:element ref="K_ADRESSE2"/>
			<xs:element ref="K_PLZ"/>
			<xs:element ref="K_ORT"/>
			<xs:element ref="K_KONZESS"/>
			<xs:element ref="K_TELNR"/>
			<xs:element ref="K_FAXNR"/>
			<xs:element ref="K_EMAIL"/>
			<xs:element ref="BEMERKUNG"/>
			<xs:element ref="ZEV"/>
			<xs:element ref="ZEV_TEXT"/>
			<xs:element ref="ZAEHLER"/>
			<xs:element ref="ANLJAHR0"/>
			<xs:element ref="ANL1"/>
			<xs:element ref="ANLJAHR1"/>
			<xs:element ref="ANL2"/>
			<xs:element ref="ANLJAHR2"/>
			<xs:element ref="NEUANL"/>
			<xs:element ref="BEST"/>
			<xs:element ref="ANDERS"/>
			<xs:element ref="ERWEIT"/>
			<xs:element ref="GRUND_X"/>
			<xs:element ref="GRUND_XTXT"/>
			<xs:element ref="KONTUMFANG"/>
			<xs:element ref="IA_DATUM"/>
			<xs:element ref="KONT_SK"/>
			<xs:element ref="KONT_AK"/>
			<xs:element ref="KONT_PK"/>
			<xs:element ref="TNS"/>
			<xs:element ref="TNC"/>
			<xs:element ref="TNCS"/>
			<xs:element ref="TNX"/>
			<xs:element ref="TNTEXT"/>
			<xs:element ref="AUU_IN"/>
			<xs:element ref="AUU_ART"/>
			<xs:element ref="UU_ART"/>
			<xs:element ref="UU_IN"/>
			<xs:element ref="UU_IKMAX"/>
			<xs:element ref="UU_IKLN"/>
			<xs:element ref="UU_IK"/>
			<xs:element ref="UU_IKLN_ENDE"/>
			<xs:element ref="UU_RISO"/>
			<xs:element ref="UU_ZWECK"/>
			<xs:element ref="BESONDER"/>
			<xs:element ref="KONDATUM_SK"/>
			<xs:element ref="KONDATUM_AKPK"/>
			<xs:element ref="KONDATUM"/>
			<xs:element ref="KONDATZUS"/>
			<xs:element ref="PLOMBENTF"/>
			<xs:element ref="AUFTRAK"/>
			<xs:element ref="AUFTRSK"/>
			<xs:element ref="AUFTRSK_NAME1"/>
			<xs:element ref="AUFTRSK_NAME2"/>
			<xs:element ref="AUFTRSK_ADRESSE1"/>
			<xs:element ref="AUFTRSK_ADRESSE2"/>
			<xs:element ref="AUFTRSK_PLZ"/>
			<xs:element ref="AUFTRSK_ORT"/>
			<xs:element ref="AUFTRSK_KONZESS"/>
			<xs:element ref="AUFTRSK_TELNR"/>
			<xs:element ref="AUFTRSK_EMAIL"/>
			<xs:element ref="BEI_MP"/>
			<xs:element ref="BEI_MPPV"/>
			<xs:element ref="BEI_X"/>
			<xs:element ref="BEI_TEXT"/>
			<xs:element ref="SINAV"/>
			<xs:element ref="SINAN"/>
			<xs:element ref="VERT1_X"/>
			<xs:element ref="VERT1"/>
			<xs:element ref="EW_BEMERKUNG"/>
			<xs:element ref="SP_JA"/>
			<xs:element ref="SP_NEIN"/>
			<xs:element ref="SP_GUT"/>
			<xs:element ref="SP_MANGEL"/>
			<xs:element ref="SP_PLOMB"/>
			<xs:element ref="SP_PKRELEVANT"/>
			<xs:element ref="SIGN_DATUM"/>
			<xs:element ref="SIGN_DATUM2"/>
			<xs:element ref="SIGNATURE"/>
			<xs:element ref="SIGNKT"/>
			<xs:element ref="KONTR_SIGN"/>
			<xs:element ref="KONTR_SIKT"/>
			<xs:element ref="KONTR_DAT"/>
			<xs:element ref="KONTR_DAT2"/>
			<xs:element ref="SIGNATURE2"/>
			<xs:element ref="SIGNKT2"/>
			<xs:element ref="KONT_SIGN2"/>
			<xs:element ref="KONT_SIKT2"/>
			<xs:element ref="EW_SIGNDAT"/>
			<xs:element ref="EW_SIGN"/>
			<xs:element ref="EW_SIGNKT"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_SIGNATURE">
	</xs:complexType>
	<xs:complexType name="T_SIGNATURE2">
		<xs:simpleContent>
			<xs:extension base="ST_SIGNATURE2">
				<xs:attribute name="OLD" use="required" type="AT_288"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_SIGNKT">
	</xs:complexType>
	<xs:complexType name="T_SIGNKT2">
		<xs:simpleContent>
			<xs:extension base="ST_SIGNKT2">
				<xs:attribute name="OLD" use="required" type="AT_42"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_SIGN_DATUM">
		<xs:attribute name="Type" use="required" type="AT_13"/>
	</xs:complexType>
	<xs:complexType name="T_SIGN_DATUM2">
		<xs:attribute name="Type" use="required" type="AT_13"/>
	</xs:complexType>
	<xs:complexType name="T_SINAN">
		<xs:simpleContent>
			<xs:extension base="ST_SINAN">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_SINAV">
		<xs:simpleContent>
			<xs:extension base="ST_SINAV">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_SP_GUT">
		<xs:simpleContent>
			<xs:extension base="ST_SP_GUT">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_SP_JA">
		<xs:simpleContent>
			<xs:extension base="ST_SP_JA">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_SP_MANGEL">
		<xs:simpleContent>
			<xs:extension base="ST_SP_MANGEL">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_SP_NEIN">
		<xs:simpleContent>
			<xs:extension base="ST_SP_NEIN">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_SP_PKRELEVANT">
		<xs:simpleContent>
			<xs:extension base="ST_SP_PKRELEVANT">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_SP_PLOMB">
		<xs:simpleContent>
			<xs:extension base="ST_SP_PLOMB">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_TERMIN">
		<xs:simpleContent>
			<xs:extension base="ST_TERMIN">
				<xs:attribute name="OLD" use="required" type="AT_86"/>
				<xs:attribute name="Type" use="required" type="AT_13"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_TNC">
		<xs:simpleContent>
			<xs:extension base="ST_TNC">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_TNCS">
		<xs:simpleContent>
			<xs:extension base="ST_TNCS">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_TNS">
		<xs:simpleContent>
			<xs:extension base="ST_TNS">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_TNTEXT">
	</xs:complexType>
	<xs:complexType name="T_TNX">
		<xs:simpleContent>
			<xs:extension base="ST_TNX">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_UU_ART">
	</xs:complexType>
	<xs:complexType name="T_UU_IK">
	</xs:complexType>
	<xs:complexType name="T_UU_IKLN">
	</xs:complexType>
	<xs:complexType name="T_UU_IKLN_ENDE">
	</xs:complexType>
	<xs:complexType name="T_UU_IKMAX">
	</xs:complexType>
	<xs:complexType name="T_UU_IN">
	</xs:complexType>
	<xs:complexType name="T_UU_RISO">
	</xs:complexType>
	<xs:complexType name="T_UU_ZWECK">
	</xs:complexType>
	<xs:complexType name="T_U_ADRESSE1">
		<xs:simpleContent>
			<xs:extension base="ST_U_ADRESSE1">
				<xs:attribute name="OLD" use="required" type="AT_72"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_U_ADRESSE2">
	</xs:complexType>
	<xs:complexType name="T_U_EMAIL">
	</xs:complexType>
	<xs:complexType name="T_U_FAXNR">
	</xs:complexType>
	<xs:complexType name="T_U_NAME1">
		<xs:simpleContent>
			<xs:extension base="ST_U_NAME1">
				<xs:attribute name="OLD" use="required" type="AT_69"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_U_NAME2">
	</xs:complexType>
	<xs:complexType name="T_U_ORT">
		<xs:simpleContent>
			<xs:extension base="ST_U_ORT">
				<xs:attribute name="OLD" use="required" type="AT_56"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_U_PLZ">
		<xs:simpleContent>
			<xs:extension base="ST_U_PLZ">
				<xs:attribute name="OLD" use="required" type="AT_54"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_U_TELNR">
	</xs:complexType>
	<xs:complexType name="T_VERSICH">
	</xs:complexType>
	<xs:complexType name="T_VERT1">
	</xs:complexType>
	<xs:complexType name="T_VERT1_X">
		<xs:simpleContent>
			<xs:extension base="ST_VERT1_X">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_VISUM">
	</xs:complexType>
	<xs:complexType name="T_V_ADRESSE1">
	</xs:complexType>
	<xs:complexType name="T_V_ADRESSE2">
	</xs:complexType>
	<xs:complexType name="T_V_EMAIL">
	</xs:complexType>
	<xs:complexType name="T_V_FAXNR">
	</xs:complexType>
	<xs:complexType name="T_V_NAME1">
	</xs:complexType>
	<xs:complexType name="T_V_NAME2">
	</xs:complexType>
	<xs:complexType name="T_V_ORT">
	</xs:complexType>
	<xs:complexType name="T_V_PLZ">
	</xs:complexType>
	<xs:complexType name="T_V_TELNR">
	</xs:complexType>
	<xs:complexType name="T_WERK">
		<xs:simpleContent>
			<xs:extension base="ST_WERK">
				<xs:attribute name="OLD" use="required" type="AT_23"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_WERK_IN">
		<xs:attribute name="Type" use="required" type="AT_13"/>
	</xs:complexType>
	<xs:complexType name="T_WERK_OUT">
		<xs:attribute name="Type" use="required" type="AT_13"/>
	</xs:complexType>
	<xs:complexType name="T_W_EF_EMAIL">
	</xs:complexType>
	<xs:complexType name="T_W_EMAIL">
	</xs:complexType>
	<xs:complexType name="T_ZAEHLER">
		<xs:simpleContent>
			<xs:extension base="ST_ZAEHLER">
				<xs:attribute name="OLD" use="required" type="AT_148"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_ZEV">
		<xs:simpleContent>
			<xs:extension base="ST_ZEV">
				<xs:attribute name="OLD" use="required" type="AT_144"/>
				<xs:attribute name="Type" use="required" type="AT_145"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_ZEV_TEXT">
	</xs:complexType>
	<xs:simpleType name="AT_1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_13">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_138">
		<xs:restriction base="xs:string">
			<xs:enumeration value="062 111 11 11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_141">
		<xs:restriction base="xs:string">
			<xs:enumeration value="info@savecontrol.ch"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_144">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_145">
		<xs:restriction base="xs:string">
			<xs:enumeration value="B"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_148">
		<xs:restriction base="xs:string">
			<xs:enumeration value="04001"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_150">
		<xs:restriction base="xs:string">
			<xs:enumeration value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_159">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TRUE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_210">
		<xs:restriction base="xs:string">
			<xs:enumeration value="20200801000000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_23">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EwiD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_28">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SaveControl GmbH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_288">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Ovvpp1M875n"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_3">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_30">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Installationskontrolle"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_300">
		<xs:restriction base="xs:string">
			<xs:enumeration value="9.0.24.10060"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_302">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ElektroForm Installateur"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_304">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Installateur"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_32">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Birkenweg 23"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_34">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Postfach 84"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_36">
		<xs:restriction base="xs:string">
			<xs:enumeration value="6560"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_38">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Neustadt"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_40">
		<xs:restriction base="xs:string">
			<xs:enumeration value="K-0101"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_42">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Simon Reber"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_44">
		<xs:restriction base="xs:string">
			<xs:enumeration value="031 917 00 43"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_47">
		<xs:restriction base="xs:string">
			<xs:enumeration value="resi@brunnerinformatik.ch"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_50">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Brunnenweg"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_52">
		<xs:restriction base="xs:string">
			<xs:enumeration value="51"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_54">
		<xs:restriction base="xs:string">
			<xs:enumeration value="5623"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_56">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Kleinwil"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_62">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Schulhaus"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_65">
		<xs:restriction base="xs:string">
			<xs:enumeration value="3.OG"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_67">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Wohnung Abwart"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_69">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Gemeindeverwaltung"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_72">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Brunnenweg 51"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_8">
		<xs:restriction base="xs:string">
			<xs:enumeration value="2151"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_86">
		<xs:restriction base="xs:string">
			<xs:enumeration value="20200731000000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_89">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ewid.evu"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AT_95">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Brunnenweg 47"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ANDERS">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ANLJAHR0">
		<xs:restriction base="xs:string">
			<xs:enumeration value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ANLNUTZUNG">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Wohnung Abwart"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_AUFTRAK">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_AUFTRSK">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_BEI_MP">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_BEI_MPPV">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_BEI_X">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_BEST">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TRUE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ERWEIT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_GEBAEUDEART">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Schulhaus"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_GEMEINDE">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Kleinwil"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_GRUND_X">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ID">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ID_FORMTMP">
		<xs:restriction base="xs:string">
			<xs:enumeration value="2151"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_I_ADRESSE1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Birkenweg 23"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_I_ADRESSE2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Postfach 84"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_I_EMAIL">
		<xs:restriction base="xs:string">
			<xs:enumeration value="resi@brunnerinformatik.ch"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_I_KONZESS">
		<xs:restriction base="xs:string">
			<xs:enumeration value="K-0101"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_I_NAME1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SaveControl GmbH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_I_NAME2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Installationskontrolle"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_I_ORT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Neustadt"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_I_PLZ">
		<xs:restriction base="xs:string">
			<xs:enumeration value="6560"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_I_SACHB">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Simon Reber"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_I_TELNR">
		<xs:restriction base="xs:string">
			<xs:enumeration value="031 917 00 43"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_KONDATUM">
		<xs:restriction base="xs:string">
			<xs:enumeration value="20200801000000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_KONDATUM_AKPK">
		<xs:restriction base="xs:string">
			<xs:enumeration value="20200801000000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_KONTR_DAT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="20200731000000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_KONTR_DAT2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="20200731000000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_KONT_AK">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_KONT_PK">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TRUE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_KONT_SIGN2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Ovvpp1M875n"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_KONT_SIKT2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Simon Reber"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_KONT_SK">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_K_ADRESSE1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Birkenweg 23"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_K_ADRESSE2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Postfach 84"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_K_EMAIL">
		<xs:restriction base="xs:string">
			<xs:enumeration value="info@savecontrol.ch"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_K_KONZESS">
		<xs:restriction base="xs:string">
			<xs:enumeration value="K-0101"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_K_NAME1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SaveControl GmbH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_K_NAME2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Installationskontrolle"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_K_ORT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Neustadt"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_K_PLZ">
		<xs:restriction base="xs:string">
			<xs:enumeration value="6560"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_K_TELNR">
		<xs:restriction base="xs:string">
			<xs:enumeration value="062 111 11 11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_LAGE">
		<xs:restriction base="xs:string">
			<xs:enumeration value="3.OG"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_NEUANL">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_O_HAUSNR">
		<xs:restriction base="xs:string">
			<xs:enumeration value="51"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_O_ORT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Kleinwil"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_O_PLZ">
		<xs:restriction base="xs:string">
			<xs:enumeration value="5623"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_O_STRASSE">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Brunnenweg"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_PACKNAME">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ewid.evu"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_PLOMBENTF">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_P_ADRESSE1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Brunnenweg 47"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_P_NAME1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Gemeindeverwaltung"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_P_ORT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Kleinwil"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_P_PLZ">
		<xs:restriction base="xs:string">
			<xs:enumeration value="5623"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SIGNATURE2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Ovvpp1M875n"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SIGNKT2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Simon Reber"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SINAN">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SINAV">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SP_GUT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SP_JA">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SP_MANGEL">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SP_NEIN">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SP_PKRELEVANT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SP_PLOMB">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_TERMIN">
		<xs:restriction base="xs:string">
			<xs:enumeration value="20200731000000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_TNC">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_TNCS">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_TNS">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_TNX">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_U_ADRESSE1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Brunnenweg 51"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_U_NAME1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Gemeindeverwaltung"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_U_ORT">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Kleinwil"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_U_PLZ">
		<xs:restriction base="xs:string">
			<xs:enumeration value="5623"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_VERT1_X">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_WERK">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EwiD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ZAEHLER">
		<xs:restriction base="xs:string">
			<xs:enumeration value="04001"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ZEV">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_FORM_TYP">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Q"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
