VSE_IA18-full.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:xs="http://www.w3.org/2001/XMLSchema" vc:minVersion="1.1">
	<xs:element name="DATAPACKET">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ROW" type="T_Row"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="PGM_INFO"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="Version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="noNamespaceSchemaLocation" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PGM_INFO">
		<xs:complexType>
			<xs:attribute name="FileVersion" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DatenbankAnwender" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DatenbankAnwenderDescr" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FormAnwender" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FormAnwenderDescr" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="FORM_TYP">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="I"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ID" type="T_INT"/>
	<xs:element name="ID_PROJECT" type="T_INT"/>
	<xs:element name="COPY_ID" type="T_INT"/>
	<xs:element name="MANDANT" type="T_INT"/>
	<xs:element name="ID_FORMTMP" type="T_INT"/>
	<xs:element name="I_PROJECT" type="T_INT"/>
	<xs:element name="I_FORM" type="T_INT"/>
	<xs:element name="E_PROJECT" type="T_INT"/>
	<xs:element name="INST_OUT" type="T_DATE"/>
	<xs:element name="WERK_IN" type="T_DATE"/>
	<xs:element name="WERK_OUT" type="T_DATE"/>
	<xs:element name="INST_IN" type="T_DATE"/>
	<xs:element name="PROJ_NR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="12"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROJ_JAHR" type="T_INT"/>
	<xs:element name="WERK">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="24"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="W_EMAIL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="W_EF_EMAIL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="VISUM">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="6"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_NAME1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_NAME2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_ADRESSE1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_ADRESSE2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_PLZ">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="8"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_ORT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_KONZESS">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_SACHB">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="24"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_TELNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_FAXNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_EMAIL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_EF_EMAIL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="O_STRASSE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="O_HAUSNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="24"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="O_PLZ">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="8"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="O_ORT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GEMEINDE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PARZELLE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="18"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="VERSICH">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="18"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GEBAEUDEART">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GEBAEUDETEIL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="LAGE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ANLNUTZUNG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_NAME1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_NAME2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_ADRESSE1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_ADRESSE2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_PLZ">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="8"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_ORT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_TELNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_FAXNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_EMAIL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_SPRACHE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ABONR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EVUAUFTNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="12"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="TERMIN" type="T_DATE"/>
	<xs:element name="ABSCHLTERMIN" type="T_DATE"/>
	<xs:element name="PACKNAME">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ANZWOHNG" type="T_INT"/>
	<xs:element name="ZEV" type="T_BOOL"/>
	<xs:element name="ARCH" type="T_BOOL"/>
	<xs:element name="VERW" type="T_BOOL"/>
	<xs:element name="GES_NAME1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_NAME2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_ADR1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_ADR2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_PLZ">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="8"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_ORT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_TELNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_FAXNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_EMAIL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_SPRACHE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="2"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_NEW" type="T_BOOL"/>
	<xs:element name="I_EXTENT" type="T_BOOL"/>
	<xs:element name="I_REMOVE" type="T_BOOL"/>
	<xs:element name="I_PROV" type="T_BOOL"/>
	<xs:element name="I_TEMP" type="T_BOOL"/>
	<xs:element name="I_AREA" type="T_BOOL"/>
	<xs:element name="HAK_IST">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="HAK_AENDERUNG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="1"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_TEXT" type="T_MEMO"/>
	<xs:element name="V_LEIST_VOM">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_REAL">
					<xs:minLength value="0"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="V_LEIST_AN">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_REAL">
					<xs:minLength value="0"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="V_LEISTMAX">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_REAL">
					<xs:minLength value="0"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="STEUER_VNB" type="T_BOOL"/>
	<xs:element name="SYSTDIENSTL" type="T_BOOL"/>
	<xs:element name="MITHKN" type="T_BOOL"/>
	<xs:element name="RSEANZ" type="T_INT"/>
	<xs:element name="RSEKDO">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RSENR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="10"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RSEMONT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RSENEU" type="T_BOOL"/>
	<xs:element name="RSEVORH" type="T_BOOL"/>
	<xs:element name="RSEAUSW" type="T_BOOL"/>
	<xs:element name="RSEDEMONT" type="T_BOOL"/>
	<xs:element name="RSEUMMONT" type="T_BOOL"/>
	<xs:element name="ANSCH_KAB" type="T_BOOL"/>
	<xs:element name="ANSCH_FREI" type="T_BOOL"/>
	<xs:element name="ANSCH_ORT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="24"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ANSCH_MAXBEZ">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_REAL">
					<xs:minLength value="0"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ANSCH_MAXSPEIS">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_REAL">
					<xs:minLength value="0"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ANSCH_AS_VOR" type="T_INT"/>
	<xs:element name="ANSCH_MOD">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="14"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ANSCH_HAKINT" type="T_BOOL"/>
	<xs:element name="ANSCH_HAKNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ANSCH_NEU" type="T_BOOL"/>
	<xs:element name="ANSCH_VER" type="T_BOOL"/>
	<xs:element name="ANSCH_WECHS" type="T_BOOL"/>
	<xs:element name="ANSCH_AS_ERF" type="T_INT"/>
	<xs:element name="SCHEMA" type="T_BOOL"/>
	<xs:element name="PLAN" type="T_BOOL"/>
	<xs:element name="GESUCH" type="T_BOOL"/>
	<xs:element name="GESUCHTXT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="VERBLIST" type="T_BOOL"/>
	<xs:element name="TALIST" type="T_BOOL"/>
	<xs:element name="DISP" type="T_BOOL"/>
	<xs:element name="STEUER" type="T_BOOL"/>
	<xs:element name="BEILLEER" type="T_BOOL"/>
	<xs:element name="BEILTXT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="INSTBEM" type="T_MEMO"/>
	<xs:element name="SIGN_DATUM" type="T_DATE"/>
	<xs:element name="SIGNATURE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SIGNKT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EW_BEW" type="T_BOOL"/>
	<xs:element name="EW_VORB" type="T_BOOL"/>
	<xs:element name="EW_NBEW" type="T_BOOL"/>
	<xs:element name="EW_SCHEMA" type="T_BOOL"/>
	<xs:element name="EW_SCHEMNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="10"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EW_BEM" type="T_MEMO"/>
	<xs:element name="EW_ADR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EW_SIGNDAT" type="T_DATE"/>
	<xs:element name="EW_SIGN">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EW_SIGNKT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="T1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="T2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="T3">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="T4">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="T5">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="TAListe" type="T_TAListe"/>
	<xs:element name="TAListeVSE_IA18_DE" substitutionGroup="TAListe" type="T_TAListe"/>
	<xs:element name="TAListeVSE_IA18_FR" substitutionGroup="TAListe" type="T_TAListe"/>
	<xs:element name="TAListeVSE_IA18_IT" substitutionGroup="TAListe" type="T_TAListe"/>
	<xs:element name="VGListe" type="T_VGListe"/>
	<xs:element name="VGListeVSE_IA18_DE" substitutionGroup="VGListe" type="T_VGListe"/>
	<xs:element name="VGListeVSE_IA18_FR" substitutionGroup="VGListe" type="T_VGListe"/>
	<xs:element name="VGListeVSE_IA18_IT" substitutionGroup="VGListe" type="T_VGListe"/>
	<xs:complexType name="T_MEMO">
		<xs:simpleContent>
			<xs:extension base="ST_STRING">
				<xs:attribute name="OLD" type="ST_STRING" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_STRING">
		<xs:simpleContent>
			<xs:extension base="ST_STRING">
				<xs:attribute name="OLD" type="ST_STRING" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ST_STRING">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="T_INT">
		<xs:simpleContent>
			<xs:extension base="ST_INT">
				<xs:attribute name="OLD" type="ST_INT" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ST_INT">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_BOOL">
		<xs:simpleContent>
			<xs:extension base="ST_BOOL">
				<xs:attribute name="OLD" type="ST_BOOL" use="optional"/>
				<xs:attribute name="Type" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="B"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ST_BOOL">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
			<xs:enumeration value="TRUE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_DATE">
		<xs:simpleContent>
			<xs:extension base="ST_DATE">
				<xs:attribute name="OLD" type="ST_DATE" use="optional"/>
				<xs:attribute name="Type" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="DT"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ST_DATE">
		<xs:restriction base="xs:string">
			<xs:pattern value=""/>
			<xs:pattern value="[0-9]{4}[0-9]{2}[0-9]{2}[0-9]{9}"/>
			<!--Datums-Format: YYYYMMTThhmmssmmm-->
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_ARCH_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_ARCH_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_VERW_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_VERW_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_STEUER_VNB_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_STEUER_VNB_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_STEUER_VNB_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_MITHKN_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_MITHKN_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_ANSCH_KAB_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_ANSCH_KAB_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_ANSCH_FREI_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_ANSCH_FREI_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_SCHEMA_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_SCHEMA_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_PLAN_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_PLAN_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_GESUCH_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_GESUCH_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_VERBLIST_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_VERBLIST_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_TALIST_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_TALIST_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_DISP_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_DISP_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_STEUER_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_STEUER_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_BEILLEER_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_BEILLEER_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_EW_BEW_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_EW_BEW_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_EW_VORB_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_EW_VORB_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_EW_NBEW_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_EW_NBEW_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_EW_SCHEMA_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_EW_SCHEMA_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_ANZ_AUSSENL_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_INT">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_ANZ_AUSSENL_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_INT">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_ANZ_AUSSENL_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_INT">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_TEXT_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="Beleuchtung"/>
				<xs:pattern value="Kochherd mit Backofen"/>
				<xs:pattern value="Kochherd ohne Backofen"/>
				<xs:pattern value="Backofen"/>
				<xs:pattern value="Geschirrspüler"/>
				<xs:pattern value="Waschautomat"/>
				<xs:pattern value="Waschautomat mit Zählerumschalter"/>
				<xs:pattern value="Wäschetrockner"/>
				<xs:pattern value="Boiler  .... l,  Aufheizzeit .... h"/>
				<xs:pattern value="Motoren ohne Anschlussgesuch"/>
				<xs:pattern value="Motoren mit Anschlussgesuch"/>
				<xs:pattern value="Wärmepumpe ohne Anschlussgesuch"/>
				<xs:pattern value="Wärmepumpe mit Anschlussgesuch"/>
				<xs:pattern value="Apparat Netzrückwirkungen verursachend"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_TEXT_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="Eclairage"/>
				<xs:pattern value="Cuisinière avec four"/>
				<xs:pattern value="Cuisinière sans four"/>
				<xs:pattern value="Four"/>
				<xs:pattern value="Lave-vaisselle"/>
				<xs:pattern value="Machine à laver"/>
				<xs:pattern value="Machine à laver avec Interr.répart."/>
				<xs:pattern value="Séchoir à linge"/>
				<xs:pattern value="Chauffe-eau  ....l,  Temps de chauf. ....h"/>
				<xs:pattern value="Moteurs sans demande de raccordment"/>
				<xs:pattern value="Moteurs avec demande de raccordment"/>
				<xs:pattern value="Pompe à chaleur sans demande de racc."/>
				<xs:pattern value="Pompe à chaleur avec demande de racc."/>
				<xs:pattern value="Appareil générateur de perturbations"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_ANZ_AUSSENL_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_INT">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_ANZ_AUSSENL_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_INT">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_ANZ_AUSSENL_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_INT">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_Row">
		<xs:all>
			<xs:element ref="FORM_TYP"/>
			<xs:element ref="ID"/>
			<xs:element ref="ID_PROJECT"/>
			<xs:element ref="COPY_ID"/>
			<xs:element ref="MANDANT"/>
			<xs:element ref="ID_FORMTMP"/>
			<xs:element ref="I_PROJECT"/>
			<xs:element ref="I_FORM"/>
			<xs:element ref="E_PROJECT"/>
			<xs:element ref="INST_OUT"/>
			<xs:element ref="WERK_IN"/>
			<xs:element ref="WERK_OUT"/>
			<xs:element ref="INST_IN"/>
			<xs:element ref="PROJ_NR"/>
			<xs:element ref="PROJ_JAHR"/>
			<xs:element ref="WERK"/>
			<xs:element ref="W_EMAIL"/>
			<xs:element ref="W_EF_EMAIL"/>
			<xs:element ref="VISUM"/>
			<xs:element ref="I_NAME1"/>
			<xs:element ref="I_NAME2"/>
			<xs:element ref="I_ADRESSE1"/>
			<xs:element ref="I_ADRESSE2"/>
			<xs:element ref="I_PLZ"/>
			<xs:element ref="I_ORT"/>
			<xs:element ref="I_KONZESS"/>
			<xs:element ref="I_SACHB"/>
			<xs:element ref="I_TELNR"/>
			<xs:element ref="I_FAXNR"/>
			<xs:element ref="I_EMAIL"/>
			<xs:element ref="I_EF_EMAIL"/>
			<xs:element ref="O_STRASSE"/>
			<xs:element ref="O_HAUSNR"/>
			<xs:element ref="O_PLZ"/>
			<xs:element ref="O_ORT"/>
			<xs:element ref="GEMEINDE"/>
			<xs:element ref="PARZELLE"/>
			<xs:element ref="VERSICH"/>
			<xs:element ref="GEBAEUDEART"/>
			<xs:element ref="GEBAEUDETEIL"/>
			<xs:element ref="LAGE"/>
			<xs:element ref="ANLNUTZUNG"/>
			<xs:element ref="U_NAME1"/>
			<xs:element ref="U_NAME2"/>
			<xs:element ref="U_ADRESSE1"/>
			<xs:element ref="U_ADRESSE2"/>
			<xs:element ref="U_PLZ"/>
			<xs:element ref="U_ORT"/>
			<xs:element ref="U_TELNR"/>
			<xs:element ref="U_FAXNR"/>
			<xs:element ref="U_EMAIL"/>
			<xs:element ref="U_SPRACHE"/>
			<xs:element ref="ABONR"/>
			<xs:element ref="EVUAUFTNR"/>
			<xs:element ref="TERMIN"/>
			<xs:element ref="ABSCHLTERMIN"/>
			<xs:element ref="PACKNAME"/>
			<xs:element ref="ANZWOHNG"/>
			<xs:element ref="ZEV"/>
			<xs:element ref="ARCH"/>
			<xs:element ref="VERW"/>
			<xs:element ref="GES_NAME1"/>
			<xs:element ref="GES_NAME2"/>
			<xs:element ref="GES_ADR1"/>
			<xs:element ref="GES_ADR2"/>
			<xs:element ref="GES_PLZ"/>
			<xs:element ref="GES_ORT"/>
			<xs:element ref="GES_TELNR"/>
			<xs:element ref="GES_FAXNR"/>
			<xs:element ref="GES_EMAIL"/>
			<xs:element ref="GES_SPRACHE"/>
			<xs:element ref="I_NEW"/>
			<xs:element ref="I_EXTENT"/>
			<xs:element ref="I_REMOVE"/>
			<xs:element ref="I_PROV"/>
			<xs:element ref="I_TEMP"/>
			<xs:element ref="I_AREA"/>
			<xs:element ref="HAK_IST"/>
			<xs:element ref="HAK_AENDERUNG"/>
			<xs:element ref="I_TEXT"/>
			<xs:element ref="V_LEIST_VOM"/>
			<xs:element ref="V_LEIST_AN"/>
			<xs:element ref="V_LEISTMAX"/>
			<xs:element ref="STEUER_VNB"/>
			<xs:element ref="SYSTDIENSTL"/>
			<xs:element ref="MITHKN"/>
			<xs:element ref="RSEANZ"/>
			<xs:element ref="RSEKDO"/>
			<xs:element ref="RSENR"/>
			<xs:element ref="RSEMONT"/>
			<xs:element ref="RSENEU"/>
			<xs:element ref="RSEVORH"/>
			<xs:element ref="RSEAUSW"/>
			<xs:element ref="RSEDEMONT"/>
			<xs:element ref="RSEUMMONT"/>
			<xs:element ref="ANSCH_KAB"/>
			<xs:element ref="ANSCH_FREI"/>
			<xs:element ref="ANSCH_ORT"/>
			<xs:element ref="ANSCH_MAXBEZ"/>
			<xs:element ref="ANSCH_MAXSPEIS"/>
			<xs:element ref="ANSCH_AS_VOR"/>
			<xs:element ref="ANSCH_MOD"/>
			<xs:element ref="ANSCH_HAKINT"/>
			<xs:element ref="ANSCH_HAKNR"/>
			<xs:element ref="ANSCH_NEU"/>
			<xs:element ref="ANSCH_VER"/>
			<xs:element ref="ANSCH_WECHS"/>
			<xs:element ref="ANSCH_AS_ERF"/>
			<xs:element ref="SCHEMA"/>
			<xs:element ref="PLAN"/>
			<xs:element ref="GESUCH"/>
			<xs:element ref="GESUCHTXT"/>
			<xs:element ref="VERBLIST"/>
			<xs:element ref="TALIST"/>
			<xs:element ref="DISP"/>
			<xs:element ref="STEUER"/>
			<xs:element ref="BEILLEER"/>
			<xs:element ref="BEILTXT"/>
			<xs:element ref="INSTBEM"/>
			<xs:element ref="SIGN_DATUM"/>
			<xs:element ref="SIGNATURE"/>
			<xs:element ref="SIGNKT"/>
			<xs:element ref="EW_BEW"/>
			<xs:element ref="EW_VORB"/>
			<xs:element ref="EW_NBEW"/>
			<xs:element ref="EW_SCHEMA"/>
			<xs:element ref="EW_SCHEMNR"/>
			<xs:element ref="EW_BEM"/>
			<xs:element ref="EW_ADR"/>
			<xs:element ref="EW_SIGNDAT"/>
			<xs:element ref="EW_SIGN"/>
			<xs:element ref="EW_SIGNKT"/>
			<xs:element ref="T1"/>
			<xs:element ref="T2"/>
			<xs:element ref="T3"/>
			<xs:element ref="T4"/>
			<xs:element ref="T5"/>
			<xs:element ref="TAListe"/>
			<xs:element ref="VGListe"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="T_TAListe">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ROW">
				<xs:complexType>
					<xs:all>
						<xs:element name="ID" type="T_INT"/>
						<xs:element name="FORM_ID" type="T_INT"/>
						<xs:element name="SEQ_FORM" type="T_INT"/>
						<xs:element name="BEZUEGER">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="40"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="RECHADR">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="100"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="GEBTEIL">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="40"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="NUTZUNG">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="40"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="EVUANLNR">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="STOCKWERK">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="6"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="RAUM">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="6"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="TARIF">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="SICH_IN" type="T_INT"/>
						<xs:element name="WERKNR">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="MONT_ORT">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="ZEV" type="T_BOOL"/>
						<xs:element name="ANZ_AUSSENL">
							<xs:alternative type="T_ANZ_AUSSENL_Udo_DE" test="//ID_FORMTMP = '2142'"/>
							<xs:alternative type="T_ANZ_AUSSENL_Udo_FR" test="//ID_FORMTMP = '2143'"/>
							<xs:alternative type="T_ANZ_AUSSENL_Udo_IT" test="//ID_FORMTMP = ''"/>
							<xs:alternative type="xs:error"/>
						</xs:element>
						<xs:element name="NEU" type="T_BOOL"/>
						<xs:element name="VORH" type="T_BOOL"/>
						<xs:element name="AUSW" type="T_BOOL"/>
						<xs:element name="DEMONT" type="T_BOOL"/>
						<xs:element name="UMMONT" type="T_BOOL"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_VGListe">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ROW">
				<xs:complexType>
					<xs:all>
						<xs:element name="ID" type="T_INT"/>
						<xs:element name="FORM_ID" type="T_INT"/>
						<xs:element name="SEQ_FORM" type="T_INT"/>
						<xs:element name="ANZAHL" type="T_INT"/>
						<xs:element name="VERBRAUCHER" type="T_BOOL"/>
						<xs:element name="ERZEUGER" type="T_BOOL"/>
						<xs:element name="SPEICHER" type="T_BOOL"/>
						<xs:element name="TEXT">
							<xs:alternative type="T_TEXT_Udo_DE" test="//ID_FORMTMP = '2142'"/>
							<xs:alternative type="T_TEXT_Udo_FR" test="//ID_FORMTMP = '2143'"/>
							<xs:alternative type="xs:error"/>
						</xs:element>
						<xs:element name="GES_DATUM" type="T_DATE"/>
						<xs:element name="KVA">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_REAL">
										<xs:minLength value="0"/>
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="KVA_ANS_NETZ">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_REAL">
										<xs:minLength value="0"/>
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="SPEICH_KAP">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_REAL">
										<xs:minLength value="0"/>
										<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="ANZ_AUSSENL">
							<xs:alternative type="T_ANZ_AUSSENL_Udo_DE" test="//ID_FORMTMP = '2142'"/>
							<xs:alternative type="T_ANZ_AUSSENL_Udo_FR" test="//ID_FORMTMP = '2143'"/>
							<xs:alternative type="T_ANZ_AUSSENL_Udo_IT" test="//ID_FORMTMP = ''"/>
							<xs:alternative type="xs:error"/>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>