DataDic/MESSPROT18.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:xs="http://www.w3.org/2001/XMLSchema" vc:minVersion="1.1">
	<xs:element name="DATAPACKET">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ROW" type="T_Row"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="PGM_INFO"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="Version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="noNamespaceSchemaLocation" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PGM_INFO">
		<xs:complexType>
			<xs:attribute name="FileVersion" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DatenbankAnwender" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DatenbankAnwenderDescr" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FormAnwender" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FormAnwenderDescr" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="FORM_TYP">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="P"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ID" type="T_INT"/>
	<xs:element name="ID_PROJECT" type="T_INT"/>
	<xs:element name="COPY_ID" type="T_INT"/>
	<xs:element name="MANDANT" type="T_INT"/>
	<xs:element name="ID_FORMTMP" type="T_INT"/>
	<xs:element name="I_PROJECT" type="T_INT"/>
	<xs:element name="I_FORM" type="T_INT"/>
	<xs:element name="E_PROJECT" type="T_INT"/>
	<xs:element name="INST_OUT" type="T_DATE"/>
	<xs:element name="WERK_IN" type="T_DATE"/>
	<xs:element name="WERK_OUT" type="T_DATE"/>
	<xs:element name="INST_IN" type="T_DATE"/>
	<xs:element name="PROJ_NR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="12"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PROJ_JAHR" type="T_INT"/>
	<xs:element name="WERK">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="24"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="W_EMAIL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="W_EF_EMAIL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="VISUM">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="6"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_NAME1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_NAME2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_ADRESSE1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_ADRESSE2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_PLZ">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="8"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_ORT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_KONZESS">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_SACHB">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="24"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_TELNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_FAXNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_EMAIL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="I_EF_EMAIL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="O_STRASSE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="O_HAUSNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="24"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="O_PLZ">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="8"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="O_ORT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GEMEINDE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PARZELLE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="18"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="VERSICH">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="18"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GEBAEUDEART">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GEBAEUDETEIL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="LAGE">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ANLNUTZUNG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_NAME1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_NAME2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_ADRESSE1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_ADRESSE2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_PLZ">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="8"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_ORT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_TELNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_FAXNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="U_EMAIL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GEBAEUDENR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EGID" type="T_INT"/>
	<xs:element name="ABONR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="EVUAUFTNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="12"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="TERMIN" type="T_DATE"/>
	<xs:element name="PACKNAME">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MP_NR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="12"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="RAPPORT_NR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AN_INST" type="T_BOOL"/>
	<xs:element name="AN_KONTR" type="T_BOOL"/>
	<xs:element name="EIGENT" type="T_BOOL"/>
	<xs:element name="VERW" type="T_BOOL"/>
	<xs:element name="STROMK" type="T_BOOL"/>
	<xs:element name="INST" type="T_BOOL"/>
	<xs:element name="AG_X" type="T_BOOL"/>
	<xs:element name="AG_XTEXT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_NAME1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_NAME2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_ADRESSE1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_ADRESSE2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_PLZ">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="8"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_ORT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_TELNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_FAXNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GES_EMAIL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="BEMERKUNG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ZEV" type="T_BOOL"/>
	<xs:element name="ZEV_TEXT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ZAEHLER">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ANLJAHR0" type="T_INT"/>
	<xs:element name="ANL1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ANLJAHR1" type="T_INT"/>
	<xs:element name="ANL2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ANLJAHR2" type="T_INT"/>
	<xs:element name="MP_NEU" type="T_BOOL"/>
	<xs:element name="MP_BEST" type="T_BOOL"/>
	<xs:element name="MP_ANDERS" type="T_BOOL"/>
	<xs:element name="MP_ERWEIT" type="T_BOOL"/>
	<xs:element name="MP_X" type="T_BOOL"/>
	<xs:element name="MP_XTEXT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="MP_SK" type="T_BOOL"/>
	<xs:element name="MP_AK" type="T_BOOL"/>
	<xs:element name="MP_PK" type="T_BOOL"/>
	<xs:element name="MP_SP" type="T_BOOL"/>
	<xs:element name="IA_DATUM" type="T_DATE"/>
	<xs:element name="KONDATUM_SK" type="T_DATE"/>
	<xs:element name="KONDATUM_AKPKSP" type="T_DATE"/>
	<xs:element name="KONDATUM" type="T_DATE"/>
	<xs:element name="KONTUMFANG" type="T_MEMO"/>
	<xs:element name="S_1" type="T_BOOL"/>
	<xs:element name="S_2" type="T_BOOL"/>
	<xs:element name="S_3" type="T_BOOL"/>
	<xs:element name="S_4" type="T_BOOL"/>
	<xs:element name="S_5" type="T_BOOL"/>
	<xs:element name="S_6" type="T_BOOL"/>
	<xs:element name="S_7" type="T_BOOL"/>
	<xs:element name="S_8" type="T_BOOL"/>
	<xs:element name="S_9" type="T_BOOL"/>
	<xs:element name="S_18" type="T_BOOL"/>
	<xs:element name="S_18TEXT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_10" type="T_BOOL"/>
	<xs:element name="S_TNS" type="T_BOOL"/>
	<xs:element name="S_TNC" type="T_BOOL"/>
	<xs:element name="S_TNCS" type="T_BOOL"/>
	<xs:element name="S_SCH3" type="T_BOOL"/>
	<xs:element name="S_TNX" type="T_BOOL"/>
	<xs:element name="S_TNXTEXT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="14"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_12" type="T_BOOL"/>
	<xs:element name="S_FUND" type="T_BOOL"/>
	<xs:element name="S_TIEFENERDER" type="T_BOOL"/>
	<xs:element name="S_BANDERDER" type="T_BOOL"/>
	<xs:element name="S_ERDX" type="T_BOOL"/>
	<xs:element name="S_ERDXTEXT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="S_11" type="T_BOOL"/>
	<xs:element name="S_13" type="T_BOOL"/>
	<xs:element name="S_14" type="T_BOOL"/>
	<xs:element name="S_15" type="T_BOOL"/>
	<xs:element name="S_16" type="T_BOOL"/>
	<xs:element name="S_17" type="T_BOOL"/>
	<xs:element name="F_1" type="T_BOOL"/>
	<xs:element name="F_2" type="T_BOOL"/>
	<xs:element name="F_3" type="T_BOOL"/>
	<xs:element name="F_4" type="T_BOOL"/>
	<xs:element name="F_5N" type="T_BOOL"/>
	<xs:element name="F_6" type="T_BOOL"/>
	<xs:element name="F_6TEXT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="44"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_SPANNUNG">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="10"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="F_BEM">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="36"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_MESSNORM">
		<xs:alternative type="T_N_MESSNORM_Udo_DE" test="//ID_FORMTMP = '2153'"/>
		<xs:alternative type="T_N_MESSNORM_Udo_FR" test="//ID_FORMTMP = '2154'"/>
		<xs:alternative type="T_N_MESSNORM_Udo_IT" test="//ID_FORMTMP = '2158'"/>
		<xs:alternative type="xs:error"/>
	</xs:element>
	<xs:element name="N_MESS1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_MESS2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_MESS3">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="N_NORM1" type="T_BOOL"/>
	<xs:element name="N_NORM1TEXT">
		<xs:alternative type="T_N_NORM1TEXT_Udo_DE" test="//ID_FORMTMP = '2153'"/>
		<xs:alternative type="T_N_NORM1TEXT_Udo_FR" test="//ID_FORMTMP = '2154'"/>
		<xs:alternative type="T_N_NORM1TEXT_Udo_IT" test="//ID_FORMTMP = '2158'"/>
		<xs:alternative type="xs:error"/>
	</xs:element>
	<xs:element name="N_NORM2" type="T_BOOL"/>
	<xs:element name="N_NORM2TEXT">
		<xs:alternative type="T_N_NORM2TEXT_Udo_DE" test="//ID_FORMTMP = '2153'"/>
		<xs:alternative type="T_N_NORM2TEXT_Udo_FR" test="//ID_FORMTMP = '2154'"/>
		<xs:alternative type="T_N_NORM2TEXT_Udo_IT" test="//ID_FORMTMP = '2158'"/>
		<xs:alternative type="xs:error"/>
	</xs:element>
	<xs:element name="N_NORM3" type="T_BOOL"/>
	<xs:element name="N_NORM3TEXT">
		<xs:alternative type="T_N_NORM3TEXT_Udo_DE" test="//ID_FORMTMP = '2153'"/>
		<xs:alternative type="T_N_NORM3TEXT_Udo_FR" test="//ID_FORMTMP = '2154'"/>
		<xs:alternative type="T_N_NORM3TEXT_Udo_IT" test="//ID_FORMTMP = '2158'"/>
		<xs:alternative type="xs:error"/>
	</xs:element>
	<xs:element name="N_NORM4" type="T_BOOL"/>
	<xs:element name="N_NORM4TEXT">
		<xs:alternative type="T_N_NORM4TEXT_Udo_DE" test="//ID_FORMTMP = '2153'"/>
		<xs:alternative type="T_N_NORM4TEXT_Udo_FR" test="//ID_FORMTMP = '2154'"/>
		<xs:alternative type="T_N_NORM4TEXT_Udo_IT" test="//ID_FORMTMP = '2158'"/>
		<xs:alternative type="xs:error"/>
	</xs:element>
	<xs:element name="N_NORM5" type="T_BOOL"/>
	<xs:element name="N_NORM5TEXT">
		<xs:alternative type="T_N_NORM5TEXT_Udo_DE" test="//ID_FORMTMP = '2153'"/>
		<xs:alternative type="T_N_NORM5TEXT_Udo_FR" test="//ID_FORMTMP = '2154'"/>
		<xs:alternative type="T_N_NORM5TEXT_Udo_IT" test="//ID_FORMTMP = '2158'"/>
		<xs:alternative type="xs:error"/>
	</xs:element>
	<xs:element name="N_NORM6" type="T_BOOL"/>
	<xs:element name="N_NORM6TEXT">
		<xs:alternative type="T_N_NORM6TEXT_Udo_DE" test="//ID_FORMTMP = '2153'"/>
		<xs:alternative type="T_N_NORM6TEXT_Udo_FR" test="//ID_FORMTMP = '2154'"/>
		<xs:alternative type="T_N_NORM6TEXT_Udo_IT" test="//ID_FORMTMP = '2158'"/>
		<xs:alternative type="xs:error"/>
	</xs:element>
	<xs:element name="N_NORM7" type="T_BOOL"/>
	<xs:element name="N_NORM7TEXT">
		<xs:alternative type="T_N_NORM7TEXT_Udo_DE" test="//ID_FORMTMP = '2153'"/>
		<xs:alternative type="T_N_NORM7TEXT_Udo_FR" test="//ID_FORMTMP = '2154'"/>
		<xs:alternative type="T_N_NORM7TEXT_Udo_IT" test="//ID_FORMTMP = '2158'"/>
		<xs:alternative type="xs:error"/>
	</xs:element>
	<xs:element name="N_NORM8" type="T_BOOL"/>
	<xs:element name="N_NORM8TEXT">
		<xs:alternative type="T_N_NORM8TEXT_Udo_DE" test="//ID_FORMTMP = '2153'"/>
		<xs:alternative type="T_N_NORM8TEXT_Udo_FR" test="//ID_FORMTMP = '2154'"/>
		<xs:alternative type="T_N_NORM8TEXT_Udo_IT" test="//ID_FORMTMP = '2158'"/>
		<xs:alternative type="xs:error"/>
	</xs:element>
	<xs:element name="SKLISTE_BEMTITEL">
		<xs:alternative type="T_SKLISTE_BEMTITEL_Udo_DE" test="//ID_FORMTMP = '2153'"/>
		<xs:alternative type="T_SKLISTE_BEMTITEL_Udo_FR" test="//ID_FORMTMP = '2154'"/>
		<xs:alternative type="T_SKLISTE_BEMTITEL_Udo_IT" test="//ID_FORMTMP = '2158'"/>
		<xs:alternative type="xs:error"/>
	</xs:element>
	<xs:element name="SK_ASBEST0" type="T_BOOL"/>
	<xs:element name="SK_ASBEST1" type="T_BOOL"/>
	<xs:element name="SK_1" type="T_BOOL"/>
	<xs:element name="SK_1NORM">
		<xs:alternative type="T_SK_1NORM_Udo_DE" test="//ID_FORMTMP = '2153'"/>
		<xs:alternative type="T_SK_1NORM_Udo_FR" test="//ID_FORMTMP = '2154'"/>
		<xs:alternative type="T_SK_1NORM_Udo_IT" test="//ID_FORMTMP = '2158'"/>
		<xs:alternative type="xs:error"/>
	</xs:element>
	<xs:element name="SK_2" type="T_BOOL"/>
	<xs:element name="SK_3" type="T_BOOL"/>
	<xs:element name="DOKU" type="T_BOOL"/>
	<xs:element name="SCHEMA" type="T_BOOL"/>
	<xs:element name="ZUSATZ1" type="T_BOOL"/>
	<xs:element name="ZUSTXT1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="24"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="OHNEMANGEL" type="T_BOOL"/>
	<xs:element name="MANGELTEXT">
		<xs:alternative type="T_MANGELTEXT_Udo_DE" test="//ID_FORMTMP = '2153'"/>
		<xs:alternative type="T_MANGELTEXT_Udo_FR" test="//ID_FORMTMP = '2154'"/>
		<xs:alternative type="T_MANGELTEXT_Udo_IT" test="//ID_FORMTMP = '2158'"/>
		<xs:alternative type="xs:error"/>
	</xs:element>
	<xs:element name="GGZ_NAME1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GGZ_NAME2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GGZ_ADRESSE1">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GGZ_ADRESSE2">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GGZ_PLZ">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="8"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GGZ_ORT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GGZ_KONZESS">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GGZ_TELNR">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="16"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GGZ_EMAIL">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GGZ_DATUM" type="T_DATE"/>
	<xs:element name="GGZ_GRUND">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="60"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GGZ_SIGN">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="GGZ_SIKT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SIGN_DATUM" type="T_DATE"/>
	<xs:element name="KONTR_SIGN">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="KONTR_SIKT">
		<xs:complexType>
			<xs:simpleContent>
				<xs:restriction base="T_STRING">
					<xs:minLength value="0"/>
					<xs:maxLength value="30"/>
				</xs:restriction>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SKListe" type="T_SKListe"/>
	<xs:element name="SKListeMESSPROT18_DE" substitutionGroup="SKListe" type="T_SKListe"/>
	<xs:element name="SKListeMESSPROT18_FR" substitutionGroup="SKListe" type="T_SKListe"/>
	<xs:element name="SKListeMESSPROT18_IT" substitutionGroup="SKListe" type="T_SKListe"/>
	<xs:complexType name="T_MEMO">
		<xs:simpleContent>
			<xs:extension base="ST_STRING">
				<xs:attribute name="OLD" type="ST_STRING" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_STRING">
		<xs:simpleContent>
			<xs:extension base="ST_STRING">
				<xs:attribute name="OLD" type="ST_STRING" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ST_STRING">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="T_INT">
		<xs:simpleContent>
			<xs:extension base="ST_INT">
				<xs:attribute name="OLD" type="ST_INT" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ST_INT">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_BOOL">
		<xs:simpleContent>
			<xs:extension base="ST_BOOL">
				<xs:attribute name="OLD" type="ST_BOOL" use="optional"/>
				<xs:attribute name="Type" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="B"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ST_BOOL">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FALSE"/>
			<xs:enumeration value="TRUE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_DATE">
		<xs:simpleContent>
			<xs:extension base="ST_DATE">
				<xs:attribute name="OLD" type="ST_DATE" use="optional"/>
				<xs:attribute name="Type" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="DT"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ST_DATE">
		<xs:restriction base="xs:string">
			<xs:pattern value=""/>
			<xs:pattern value="[0-9]{4}[0-9]{2}[0-9]{2}[0-9]{9}"/><!--Datums-Format: YYYYMMTThhmmssmmm--></xs:restriction></xs:simpleType><xs:complexType name="T_MP_NEU_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_MP_BEST_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_MP_ANDERS_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_MP_ERWEIT_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_MP_X_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_MP_SK_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_MP_AK_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_MP_PK_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_MP_SP_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_1_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_2_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_3_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_4_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_5_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_6_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_7_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_8_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_9_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_18_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_10_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_TNS_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_TNC_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_TNCS_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_SCH3_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_TNX_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_12_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_FUND_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_TIEFENERDER_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_BANDERDER_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_ERDX_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_11_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_13_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_14_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_15_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_16_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_S_17_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_F_1_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_F_2_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_F_3_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_F_4_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_F_5N_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_F_6_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_MESSNORM_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:enumeration value="IEC 61010"/>
				<xs:enumeration value="SN EN 61557"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_MESSNORM_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:enumeration value="IEC 61010"/>
				<xs:enumeration value="SN EN 61557"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_MESSNORM_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:enumeration value="IEC 61010"/>
				<xs:enumeration value="SN EN 61557"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM1TEXT_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM1TEXT_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM1TEXT_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_STRING"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM2TEXT_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="NIN SN 411000:2020"/>
				<xs:pattern value="NIN SN 411000:2015"/>
				<xs:pattern value="NIN 2020"/>
				<xs:pattern value="NIN 2015"/>
				<xs:pattern value="NIN 2010"/>
				<xs:pattern value="NIN 2005"/>
				<xs:pattern value="SEV 1000:2010"/>
				<xs:pattern value="SEV 1000:2005"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM2TEXT_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="NIBT SN 411000:2020"/>
				<xs:pattern value="NIBT SN 411000:2015"/>
				<xs:pattern value="NIBT 2020"/>
				<xs:pattern value="NIBT 2015"/>
				<xs:pattern value="NIBT 2010"/>
				<xs:pattern value="NIBT 2005"/>
				<xs:pattern value="SEV 1000:2010"/>
				<xs:pattern value="SEV 1000:2005"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM2TEXT_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="NIBT SN 411000:2020"/>
				<xs:pattern value="NIBT SN 411000:2015"/>
				<xs:pattern value="NIBT 2020"/>
				<xs:pattern value="NIBT 2015"/>
				<xs:pattern value="NIBT 2010"/>
				<xs:pattern value="NIBT 2005"/>
				<xs:pattern value="SEV 1000:2010"/>
				<xs:pattern value="SEV 1000:2005"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM3TEXT_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="WV"/>
				<xs:pattern value="HV"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM3TEXT_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="PDIE"/>
				<xs:pattern value="PIE"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM3TEXT_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="HV"/>
				<xs:pattern value="PAE"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM4TEXT_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="SN EN 61439"/>
				<xs:pattern value="SN EN 60439"/>
				<xs:pattern value="SN EN 60204"/>
				<xs:pattern value="SN EN 50160"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM4TEXT_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="SN EN 61439"/>
				<xs:pattern value="SN EN 60439"/>
				<xs:pattern value="SN EN 60204"/>
				<xs:pattern value="SN EN 50160"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM4TEXT_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="SN EN 61439"/>
				<xs:pattern value="SN EN 60439"/>
				<xs:pattern value="SN EN 60204"/>
				<xs:pattern value="SN EN 50160"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM5TEXT_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="Werkvorschriften (TAB)"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM5TEXT_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="Prescriptions PDIE (CTR)"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM5TEXT_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="Prescrizioni (PAE)"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM6TEXT_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="D-A-CH-CZ"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM6TEXT_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="D-A-CH-CZ"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM6TEXT_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="D-A-CH-CZ"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM7TEXT_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="SNR 464022"/>
				<xs:pattern value="SEV 4022:2008"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM7TEXT_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="SNR 464022"/>
				<xs:pattern value="SEV 4022:2008"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM7TEXT_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="SNR 464022"/>
				<xs:pattern value="SEV 4022:2008"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM8TEXT_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM8TEXT_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_N_NORM8TEXT_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_STRING"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_SKLISTE_BEMTITEL_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="Bemerkungen"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_SKLISTE_BEMTITEL_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="Remarques"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_SKLISTE_BEMTITEL_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="Osservazioni"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_SK_1NORM_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="EN 61439"/>
				<xs:pattern value="EN 60439"/>
				<xs:pattern value="SNR 461439"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_SK_1NORM_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="EN 61439"/>
				<xs:pattern value="EN 60439"/>
				<xs:pattern value="SNR 461439"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_SK_1NORM_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="EN 61439"/>
				<xs:pattern value="EN 60439"/>
				<xs:pattern value="SNR 461439"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_SK_2_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_SK_3_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_DOKU_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_SCHEMA_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_ZUSATZ1_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_OHNEMANGEL_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_BOOL"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_MANGELTEXT_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="keine Mängel festgestellt"/>
				<xs:pattern value="Mängel gemäss Bericht"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_MANGELTEXT_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="Aucun défaut constaté"/>
				<xs:pattern value="Défauts selon le rapport"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_MANGELTEXT_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="Nessun difetto riscontrato"/>
				<xs:pattern value="Difetti secondo il rapporto"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_NUMMER_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="F1"/>
				<xs:pattern value="F2"/>
				<xs:pattern value="F3"/>
				<xs:pattern value="F4"/>
				<xs:pattern value="F5"/>
				<xs:pattern value="F6"/>
				<xs:pattern value="F7"/>
				<xs:pattern value="F8"/>
				<xs:pattern value="F9"/>
				<xs:pattern value="F10"/>
				<xs:pattern value="F11"/>
				<xs:pattern value="F12"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_NUMMER_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="F1"/>
				<xs:pattern value="F2"/>
				<xs:pattern value="F3"/>
				<xs:pattern value="F4"/>
				<xs:pattern value="F5"/>
				<xs:pattern value="F6"/>
				<xs:pattern value="F7"/>
				<xs:pattern value="F8"/>
				<xs:pattern value="F9"/>
				<xs:pattern value="F10"/>
				<xs:pattern value="F11"/>
				<xs:pattern value="F12"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_NUMMER_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="F1"/>
				<xs:pattern value="F2"/>
				<xs:pattern value="F3"/>
				<xs:pattern value="F4"/>
				<xs:pattern value="F5"/>
				<xs:pattern value="F6"/>
				<xs:pattern value="F7"/>
				<xs:pattern value="F8"/>
				<xs:pattern value="F9"/>
				<xs:pattern value="F10"/>
				<xs:pattern value="F11"/>
				<xs:pattern value="F12"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_BEZ_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="HAK"/>
				<xs:pattern value="Licht EG"/>
				<xs:pattern value="Licht 1.OG"/>
				<xs:pattern value="Küche"/>
				<xs:pattern value="Geschirrspüler"/>
				<xs:pattern value="Kochherd"/>
				<xs:pattern value="Steamer"/>
				<xs:pattern value="Keller"/>
				<xs:pattern value="Boiler (300l)"/>
				<xs:pattern value="Heizung"/>
				<xs:pattern value="Waschmaschine"/>
				<xs:pattern value="Garage"/>
				<xs:pattern value="UG"/>
				<xs:pattern value="SGK"/>
				<xs:pattern value="Aussenbeleuchtung"/>
				<xs:pattern value="Mansarde"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_BEZ_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="Coffret d'introduction"/>
				<xs:pattern value="Lumière REZ"/>
				<xs:pattern value="Lumière 1er étage"/>
				<xs:pattern value="Cuisine"/>
				<xs:pattern value="Lave-vaisselle"/>
				<xs:pattern value="Cuisinière"/>
				<xs:pattern value="Steamer"/>
				<xs:pattern value="Cave"/>
				<xs:pattern value="Chauffe-eau"/>
				<xs:pattern value="Chauffage"/>
				<xs:pattern value="Machine à laver"/>
				<xs:pattern value="Garage"/>
				<xs:pattern value="Tableau d'étage"/>
				<xs:pattern value="Ensemble d'appareillage"/>
				<xs:pattern value="Eclairage extérieur"/>
				<xs:pattern value="Mansarde"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_BEZ_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="DPS"/>
				<xs:pattern value="Luce piano terra"/>
				<xs:pattern value="Luce 1° piano"/>
				<xs:pattern value="Cucina"/>
				<xs:pattern value="Lavastoviglie"/>
				<xs:pattern value="Cucina economica"/>
				<xs:pattern value="Ferro da stiro"/>
				<xs:pattern value="Cantina"/>
				<xs:pattern value="Boiler (300l)"/>
				<xs:pattern value="Riscaldamento"/>
				<xs:pattern value="Lavatrice"/>
				<xs:pattern value="Garage"/>
				<xs:pattern value="Piano interrato"/>
				<xs:pattern value="Apparecchiature assiemate di protezione e manovra"/>
				<xs:pattern value="Impianto d’illuminazione esterno"/>
				<xs:pattern value="Mansarda"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_LEIT_ART_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="T"/>
				<xs:pattern value="TT"/>
				<xs:pattern value="TT-CLT"/>
				<xs:pattern value="HO7V-U"/>
				<xs:pattern value="HO7V-R"/>
				<xs:pattern value="CH-N1W-U"/>
				<xs:pattern value="CH-N1W-R"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_LEIT_ART_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="T"/>
				<xs:pattern value="TT"/>
				<xs:pattern value="TT-CLT"/>
				<xs:pattern value="HO7V-U"/>
				<xs:pattern value="HO7V-R"/>
				<xs:pattern value="CH-N1W-U"/>
				<xs:pattern value="CH-N1W-R"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_LEIT_ART_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="T"/>
				<xs:pattern value="TT"/>
				<xs:pattern value="TT-CLT"/>
				<xs:pattern value="HO7V-U"/>
				<xs:pattern value="HO7V-R"/>
				<xs:pattern value="CH-N1W-U"/>
				<xs:pattern value="CH-N1W-R"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_LEIT_ANZ_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="3x1.5"/>
				<xs:pattern value="4x1.5"/>
				<xs:pattern value="4x2.5"/>
				<xs:pattern value="5x1.5"/>
				<xs:pattern value="5x2.5"/>
				<xs:pattern value="5x4"/>
				<xs:pattern value="5x6"/>
				<xs:pattern value="5x10"/>
				<xs:pattern value="5x16"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_LEIT_ANZ_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="3x1.5"/>
				<xs:pattern value="4x1.5"/>
				<xs:pattern value="4x2.5"/>
				<xs:pattern value="5x1.5"/>
				<xs:pattern value="5x2.5"/>
				<xs:pattern value="5x4"/>
				<xs:pattern value="5x6"/>
				<xs:pattern value="5x10"/>
				<xs:pattern value="5x16"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_LEIT_ANZ_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="3x1.5"/>
				<xs:pattern value="4x1.5"/>
				<xs:pattern value="4x2.5"/>
				<xs:pattern value="5x1.5"/>
				<xs:pattern value="5x2.5"/>
				<xs:pattern value="5x4"/>
				<xs:pattern value="5x6"/>
				<xs:pattern value="5x10"/>
				<xs:pattern value="5x16"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_I_ART_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="DI flink"/>
				<xs:pattern value="DII träg"/>
				<xs:pattern value="DIIIträg"/>
				<xs:pattern value="LSB"/>
				<xs:pattern value="LSC"/>
				<xs:pattern value="LSD"/>
				<xs:pattern value="FI-LSB"/>
				<xs:pattern value="FI-LSC"/>
				<xs:pattern value="FI-LSD"/>
				<xs:pattern value="DIN00"/>
				<xs:pattern value="NH00"/>
				<xs:pattern value="NH1"/>
				<xs:pattern value="NH2"/>
				<xs:pattern value="NH3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_I_ART_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="DI"/>
				<xs:pattern value="DII"/>
				<xs:pattern value="DIII"/>
				<xs:pattern value="LSB"/>
				<xs:pattern value="LSC"/>
				<xs:pattern value="LSD"/>
				<xs:pattern value="FI-LSB"/>
				<xs:pattern value="FI-LSC"/>
				<xs:pattern value="FI-LSD"/>
				<xs:pattern value="DIN00"/>
				<xs:pattern value="NH00"/>
				<xs:pattern value="NH1"/>
				<xs:pattern value="NH2"/>
				<xs:pattern value="NH3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_I_ART_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="DI"/>
				<xs:pattern value="DII"/>
				<xs:pattern value="DIII"/>
				<xs:pattern value="LSB"/>
				<xs:pattern value="LSC"/>
				<xs:pattern value="LSD"/>
				<xs:pattern value="FI-LSB"/>
				<xs:pattern value="FI-LSC"/>
				<xs:pattern value="FI-LSD"/>
				<xs:pattern value="DIN00"/>
				<xs:pattern value="NH00"/>
				<xs:pattern value="NH1"/>
				<xs:pattern value="NH2"/>
				<xs:pattern value="NH3"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_I_INSTR_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="6"/>
				<xs:pattern value="10"/>
				<xs:pattern value="13"/>
				<xs:pattern value="16"/>
				<xs:pattern value="20"/>
				<xs:pattern value="25"/>
				<xs:pattern value="32"/>
				<xs:pattern value="40"/>
				<xs:pattern value="63"/>
				<xs:pattern value="80"/>
				<xs:pattern value="100"/>
				<xs:pattern value="125"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_I_INSTR_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="6"/>
				<xs:pattern value="10"/>
				<xs:pattern value="13"/>
				<xs:pattern value="16"/>
				<xs:pattern value="20"/>
				<xs:pattern value="25"/>
				<xs:pattern value="32"/>
				<xs:pattern value="40"/>
				<xs:pattern value="63"/>
				<xs:pattern value="80"/>
				<xs:pattern value="100"/>
				<xs:pattern value="125"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_I_INSTR_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="6"/>
				<xs:pattern value="10"/>
				<xs:pattern value="13"/>
				<xs:pattern value="16"/>
				<xs:pattern value="20"/>
				<xs:pattern value="25"/>
				<xs:pattern value="32"/>
				<xs:pattern value="40"/>
				<xs:pattern value="63"/>
				<xs:pattern value="80"/>
				<xs:pattern value="100"/>
				<xs:pattern value="125"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_FI_IN_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="13"/>
				<xs:pattern value="16"/>
				<xs:pattern value="25"/>
				<xs:pattern value="32"/>
				<xs:pattern value="40"/>
				<xs:pattern value="63"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_FI_IN_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="13"/>
				<xs:pattern value="16"/>
				<xs:pattern value="25"/>
				<xs:pattern value="32"/>
				<xs:pattern value="40"/>
				<xs:pattern value="63"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_FI_IN_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="13"/>
				<xs:pattern value="16"/>
				<xs:pattern value="25"/>
				<xs:pattern value="32"/>
				<xs:pattern value="40"/>
				<xs:pattern value="63"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_FI_IDN_Udo_DE">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="10"/>
				<xs:pattern value="30"/>
				<xs:pattern value="300"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_FI_IDN_Udo_FR">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="10"/>
				<xs:pattern value="30"/>
				<xs:pattern value="300"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_FI_IDN_Udo_IT">
		<xs:simpleContent>
			<xs:restriction base="T_STRING">
				<xs:pattern value=".*"/>
				<xs:pattern value="10"/>
				<xs:pattern value="30"/>
				<xs:pattern value="300"/>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_Row">
		<xs:all>
			<xs:element ref="FORM_TYP"/>
			<xs:element ref="ID"/>
			<xs:element ref="ID_PROJECT"/>
			<xs:element ref="COPY_ID"/>
			<xs:element ref="MANDANT"/>
			<xs:element ref="ID_FORMTMP"/>
			<xs:element ref="I_PROJECT"/>
			<xs:element ref="I_FORM"/>
			<xs:element ref="E_PROJECT"/>
			<xs:element ref="INST_OUT"/>
			<xs:element ref="WERK_IN"/>
			<xs:element ref="WERK_OUT"/>
			<xs:element ref="INST_IN"/>
			<xs:element ref="PROJ_NR"/>
			<xs:element ref="PROJ_JAHR"/>
			<xs:element ref="WERK"/>
			<xs:element ref="W_EMAIL"/>
			<xs:element ref="W_EF_EMAIL"/>
			<xs:element ref="VISUM"/>
			<xs:element ref="I_NAME1"/>
			<xs:element ref="I_NAME2"/>
			<xs:element ref="I_ADRESSE1"/>
			<xs:element ref="I_ADRESSE2"/>
			<xs:element ref="I_PLZ"/>
			<xs:element ref="I_ORT"/>
			<xs:element ref="I_KONZESS"/>
			<xs:element ref="I_SACHB"/>
			<xs:element ref="I_TELNR"/>
			<xs:element ref="I_FAXNR"/>
			<xs:element ref="I_EMAIL"/>
			<xs:element ref="I_EF_EMAIL"/>
			<xs:element ref="O_STRASSE"/>
			<xs:element ref="O_HAUSNR"/>
			<xs:element ref="O_PLZ"/>
			<xs:element ref="O_ORT"/>
			<xs:element ref="GEMEINDE"/>
			<xs:element ref="PARZELLE"/>
			<xs:element ref="VERSICH"/>
			<xs:element ref="GEBAEUDEART"/>
			<xs:element ref="GEBAEUDETEIL"/>
			<xs:element ref="LAGE"/>
			<xs:element ref="ANLNUTZUNG"/>
			<xs:element ref="U_NAME1"/>
			<xs:element ref="U_NAME2"/>
			<xs:element ref="U_ADRESSE1"/>
			<xs:element ref="U_ADRESSE2"/>
			<xs:element ref="U_PLZ"/>
			<xs:element ref="U_ORT"/>
			<xs:element ref="U_TELNR"/>
			<xs:element ref="U_FAXNR"/>
			<xs:element ref="U_EMAIL"/>
			<xs:element ref="GEBAEUDENR"/>
			<xs:element ref="EGID"/>
			<xs:element ref="ABONR"/>
			<xs:element ref="EVUAUFTNR"/>
			<xs:element ref="TERMIN"/>
			<xs:element ref="PACKNAME"/>
			<xs:element ref="MP_NR"/>
			<xs:element ref="RAPPORT_NR"/>
			<xs:element ref="AN_INST"/>
			<xs:element ref="AN_KONTR"/>
			<xs:element ref="EIGENT"/>
			<xs:element ref="VERW"/>
			<xs:element ref="STROMK"/>
			<xs:element ref="INST"/>
			<xs:element ref="AG_X"/>
			<xs:element ref="AG_XTEXT"/>
			<xs:element ref="GES_NAME1"/>
			<xs:element ref="GES_NAME2"/>
			<xs:element ref="GES_ADRESSE1"/>
			<xs:element ref="GES_ADRESSE2"/>
			<xs:element ref="GES_PLZ"/>
			<xs:element ref="GES_ORT"/>
			<xs:element ref="GES_TELNR"/>
			<xs:element ref="GES_FAXNR"/>
			<xs:element ref="GES_EMAIL"/>
			<xs:element ref="BEMERKUNG"/>
			<xs:element ref="ZEV"/>
			<xs:element ref="ZEV_TEXT"/>
			<xs:element ref="ZAEHLER"/>
			<xs:element ref="ANLJAHR0"/>
			<xs:element ref="ANL1"/>
			<xs:element ref="ANLJAHR1"/>
			<xs:element ref="ANL2"/>
			<xs:element ref="ANLJAHR2"/>
			<xs:element ref="MP_NEU"/>
			<xs:element ref="MP_BEST"/>
			<xs:element ref="MP_ANDERS"/>
			<xs:element ref="MP_ERWEIT"/>
			<xs:element ref="MP_X"/>
			<xs:element ref="MP_XTEXT"/>
			<xs:element ref="MP_SK"/>
			<xs:element ref="MP_AK"/>
			<xs:element ref="MP_PK"/>
			<xs:element ref="MP_SP"/>
			<xs:element ref="IA_DATUM"/>
			<xs:element ref="KONDATUM_SK"/>
			<xs:element ref="KONDATUM_AKPKSP"/>
			<xs:element ref="KONDATUM"/>
			<xs:element ref="KONTUMFANG"/>
			<xs:element ref="S_1"/>
			<xs:element ref="S_2"/>
			<xs:element ref="S_3"/>
			<xs:element ref="S_4"/>
			<xs:element ref="S_5"/>
			<xs:element ref="S_6"/>
			<xs:element ref="S_7"/>
			<xs:element ref="S_8"/>
			<xs:element ref="S_9"/>
			<xs:element ref="S_18"/>
			<xs:element ref="S_18TEXT"/>
			<xs:element ref="S_10"/>
			<xs:element ref="S_TNS"/>
			<xs:element ref="S_TNC"/>
			<xs:element ref="S_TNCS"/>
			<xs:element ref="S_SCH3"/>
			<xs:element ref="S_TNX"/>
			<xs:element ref="S_TNXTEXT"/>
			<xs:element ref="S_12"/>
			<xs:element ref="S_FUND"/>
			<xs:element ref="S_TIEFENERDER"/>
			<xs:element ref="S_BANDERDER"/>
			<xs:element ref="S_ERDX"/>
			<xs:element ref="S_ERDXTEXT"/>
			<xs:element ref="S_11"/>
			<xs:element ref="S_13"/>
			<xs:element ref="S_14"/>
			<xs:element ref="S_15"/>
			<xs:element ref="S_16"/>
			<xs:element ref="S_17"/>
			<xs:element ref="F_1"/>
			<xs:element ref="F_2"/>
			<xs:element ref="F_3"/>
			<xs:element ref="F_4"/>
			<xs:element ref="F_5N"/>
			<xs:element ref="F_6"/>
			<xs:element ref="F_6TEXT"/>
			<xs:element ref="F_SPANNUNG"/>
			<xs:element ref="F_BEM"/>
			<xs:element ref="N_MESSNORM"/>
			<xs:element ref="N_MESS1"/>
			<xs:element ref="N_MESS2"/>
			<xs:element ref="N_MESS3"/>
			<xs:element ref="N_NORM1"/>
			<xs:element ref="N_NORM1TEXT"/>
			<xs:element ref="N_NORM2"/>
			<xs:element ref="N_NORM2TEXT"/>
			<xs:element ref="N_NORM3"/>
			<xs:element ref="N_NORM3TEXT"/>
			<xs:element ref="N_NORM4"/>
			<xs:element ref="N_NORM4TEXT"/>
			<xs:element ref="N_NORM5"/>
			<xs:element ref="N_NORM5TEXT"/>
			<xs:element ref="N_NORM6"/>
			<xs:element ref="N_NORM6TEXT"/>
			<xs:element ref="N_NORM7"/>
			<xs:element ref="N_NORM7TEXT"/>
			<xs:element ref="N_NORM8"/>
			<xs:element ref="N_NORM8TEXT"/>
			<xs:element ref="SKLISTE_BEMTITEL"/>
			<xs:element ref="SK_ASBEST0"/>
			<xs:element ref="SK_ASBEST1"/>
			<xs:element ref="SK_1"/>
			<xs:element ref="SK_1NORM"/>
			<xs:element ref="SK_2"/>
			<xs:element ref="SK_3"/>
			<xs:element ref="DOKU"/>
			<xs:element ref="SCHEMA"/>
			<xs:element ref="ZUSATZ1"/>
			<xs:element ref="ZUSTXT1"/>
			<xs:element ref="OHNEMANGEL"/>
			<xs:element ref="MANGELTEXT"/>
			<xs:element ref="GGZ_NAME1"/>
			<xs:element ref="GGZ_NAME2"/>
			<xs:element ref="GGZ_ADRESSE1"/>
			<xs:element ref="GGZ_ADRESSE2"/>
			<xs:element ref="GGZ_PLZ"/>
			<xs:element ref="GGZ_ORT"/>
			<xs:element ref="GGZ_KONZESS"/>
			<xs:element ref="GGZ_TELNR"/>
			<xs:element ref="GGZ_EMAIL"/>
			<xs:element ref="GGZ_DATUM"/>
			<xs:element ref="GGZ_GRUND"/>
			<xs:element ref="GGZ_SIGN"/>
			<xs:element ref="GGZ_SIKT"/>
			<xs:element ref="SIGN_DATUM"/>
			<xs:element ref="KONTR_SIGN"/>
			<xs:element ref="KONTR_SIKT"/>
			<xs:element ref="SKListe"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="T_SKListe">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="ROW">
				<xs:complexType>
					<xs:all>
						<xs:element name="ID" type="T_INT"/>
						<xs:element name="FORM_ID" type="T_INT"/>
						<xs:element name="SEQ_FORM" type="T_INT"/>
						<xs:element name="NUMMER">
							<xs:alternative type="T_NUMMER_Udo_DE" test="//ID_FORMTMP = '2153'"/>
							<xs:alternative type="T_NUMMER_Udo_FR" test="//ID_FORMTMP = '2154'"/>
							<xs:alternative type="T_NUMMER_Udo_IT" test="//ID_FORMTMP = '2158'"/>
							<xs:alternative type="xs:error"/>
						</xs:element>
						<xs:element name="BEZ">
							<xs:alternative type="T_BEZ_Udo_DE" test="//ID_FORMTMP = '2153'"/>
							<xs:alternative type="T_BEZ_Udo_FR" test="//ID_FORMTMP = '2154'"/>
							<xs:alternative type="T_BEZ_Udo_IT" test="//ID_FORMTMP = '2158'"/>
							<xs:alternative type="xs:error"/>
						</xs:element>
						<xs:element name="LEIT_ART">
							<xs:alternative type="T_LEIT_ART_Udo_DE" test="//ID_FORMTMP = '2153'"/>
							<xs:alternative type="T_LEIT_ART_Udo_FR" test="//ID_FORMTMP = '2154'"/>
							<xs:alternative type="T_LEIT_ART_Udo_IT" test="//ID_FORMTMP = '2158'"/>
							<xs:alternative type="xs:error"/>
						</xs:element>
						<xs:element name="LEIT_ANZ">
							<xs:alternative type="T_LEIT_ANZ_Udo_DE" test="//ID_FORMTMP = '2153'"/>
							<xs:alternative type="T_LEIT_ANZ_Udo_FR" test="//ID_FORMTMP = '2154'"/>
							<xs:alternative type="T_LEIT_ANZ_Udo_IT" test="//ID_FORMTMP = '2158'"/>
							<xs:alternative type="xs:error"/>
						</xs:element>
						<xs:element name="I_ART">
							<xs:alternative type="T_I_ART_Udo_DE" test="//ID_FORMTMP = '2153'"/>
							<xs:alternative type="T_I_ART_Udo_FR" test="//ID_FORMTMP = '2154'"/>
							<xs:alternative type="T_I_ART_Udo_IT" test="//ID_FORMTMP = '2158'"/>
							<xs:alternative type="xs:error"/>
						</xs:element>
						<xs:element name="I_INSTR">
							<xs:alternative type="T_I_INSTR_Udo_DE" test="//ID_FORMTMP = '2153'"/>
							<xs:alternative type="T_I_INSTR_Udo_FR" test="//ID_FORMTMP = '2154'"/>
							<xs:alternative type="T_I_INSTR_Udo_IT" test="//ID_FORMTMP = '2158'"/>
							<xs:alternative type="xs:error"/>
						</xs:element>
						<xs:element name="M_IKMAX">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="M_IKMIN">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="M_IKMAX_LN">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="M_IKMIN_LN">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="M_RISO">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="M_LEIT">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="FI_IN">
							<xs:alternative type="T_FI_IN_Udo_DE" test="//ID_FORMTMP = '2153'"/>
							<xs:alternative type="T_FI_IN_Udo_FR" test="//ID_FORMTMP = '2154'"/>
							<xs:alternative type="T_FI_IN_Udo_IT" test="//ID_FORMTMP = '2158'"/>
							<xs:alternative type="xs:error"/>
						</xs:element>
						<xs:element name="FI_IDN">
							<xs:alternative type="T_FI_IDN_Udo_DE" test="//ID_FORMTMP = '2153'"/>
							<xs:alternative type="T_FI_IDN_Udo_FR" test="//ID_FORMTMP = '2154'"/>
							<xs:alternative type="T_FI_IDN_Udo_IT" test="//ID_FORMTMP = '2158'"/>
							<xs:alternative type="xs:error"/>
						</xs:element>
						<xs:element name="FI_T">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="8"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="BEMERK">
							<xs:complexType>
								<xs:simpleContent>
									<xs:restriction base="T_STRING">
										<xs:minLength value="0"/>
										<xs:maxLength value="120"/>
									</xs:restriction>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>